.video{
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* width: 1600px; */
  background: #ffffff;
  font-family: "幼圆";
  width: 910px;
}

.body-0{
  margin: 0 150px 0 150px;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 424px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}

.gradient-border {
  position: relative;
  top: 55px;
  left: 703px;
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo{
  position: relative;
  width: 95px;
  height: 42.5px;
  margin: 0;
  padding: 0;
  left: 10px;
  top: 5px;
}

.touxiang{
  position: relative;
  top: 5px;
  left: 15px;
  width: 40px;
  height: 40px;
}

ul.slides{
  width: 1585px;
  height: 52.5px;
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  justify-content: center;
  box-shadow: 10px 10px 15px rgba(233, 233, 233, 0.9);
}

li.slide.slide1.slide2{
  text-align: center;
  height: 56.5px;
}

.slide1{
  position: relative;
  top: -9px;
  left: 12px;
  flex-direction: row;
  justify-content: center;
}

.slide2{
  position: relative;
  top: 0px;
  left: 12px;
  /* flex-direction: row;
  justify-content: center; */
  width: 40%;
  font-size: 13px;
}

.msi{
  position: relative;
  width: 65px;
  height: 20px;
  top: -5px;
  left: 15px;
}

ul li{
  display: inline;
  padding: 5px 10px 5px 10px;
}

.jump{
  position: absolute;
  height: 40px;
  top: 39px;
  left: 50%;
  display: none;
  white-space: nowrap;
  transform: translate(-50%, 0);
  border: #ffffff 1px solid;
  border-radius: 100px;
  box-shadow: 10px 10px 20px 5px rgba(233, 233, 233, 1.3);
}

.slide1:hover .jump {
  display: block;
  z-index: 1000;
}

.slide2:hover .jump {
  display: block;
  z-index: 1000;
}

a{
  position: relative;
  text-decoration: none;
  color: #1D1F20;
  font-family: "幼圆";
  font-weight: bold;
  /* text-align: center; */
  text-align: left;
}

p{
  display: inline-block;
}

.watch{
  position: absolute;
  top: 105px;
  left: 210px;
  margin: 10px 0 10px 0;
  color: rgb(150, 149, 149);
  font-size: 14px;
  font-weight: bold;
}

h2{
  position: absolute;
  top: 80px;
  left: 210px;
  margin: 10px 0 10px 0;
}

.danmu{
  position: absolute;
  align-items: left;
  padding: 0 0 10px 0;
  top: 590px;
  left: 200px;
  height: 50px;
  width: 805px;
  box-shadow: 0px 5px 10px 1px rgba(233, 233, 233, 1.3);
}

.danmu-1{
  position: relative;
  height: 20px;
  width: 40px;
  left: -10px;
  top: 3px;
}

.danmu-2{
  position: relative;
  height: 20px;
  width: 40px;
  left: -30px;
  top: 3px;
}

.introduce-touxiang{
  position: relative;
  width: 65px;
  height: 65px;
  top: -210px;
}

.p0{
  position: relative;
  top: -2px;
  left: -35px;
  border-radius: 10px 0 0 10px;
  border: rgb(232, 223, 223) 2px solid;
  background-color: rgb(232, 223, 223);
  padding: 6px;
}

.p00{
  position: relative;
  position: relative;
  top: -2px;
  left: -43px;
  border-radius: 0 10px 10px 0;
  border: #00aeec 2px solid;
  background-color: #00aeec;
  padding: 6px;
  color: #ffffff;
  font-weight: bold;

}

.p1{
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: -265px;
  left: 6px;
  color: hotpink;
}

.s0{
  position: relative;
  font-weight: bold;
  font-size: 14px;
  top: -265px;
  left: 30px;
  color: gray;
}

.p2{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -287px;
  left: 82px;
  color: rgb(147, 147, 147);
}

.i1{
  position: relative;
  height: 20px;
  width: 20px;
  top: 4px;
  left: 8px;
}

.s1{
  font-size: 14px;
  padding: 7px 20px;
  font-weight: bold;
  color: hotpink;
  position: relative;
  border: hotpink 1px solid;
  top: -293px;
  left: 75px;
  border-radius: 7px;
  text-align: center;
  align-items: center;
}

.s1:hover{
  background-color: rgb(246, 218, 223);
}

.s2{
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 9px 27px;
  position: relative;
  /* border: rgb(53, 159, 224) 2px solid; */
  background-color: rgb(53, 159, 224);
  top: -293px;
  left: 90px;
  font-size: 14px;
  border-radius: 7px;
  font-weight: bold;
}

.s2:hover{
  background-color: rgb(86, 189, 230);
}

.introduce{
  position: relative;
  top: -235px;
  left: 1500px;
}

.dtb{
  position: relative;
  height: 28px;
  width: 28px;
  top: -367px;
  left: 694px;
  z-index: 1000000000000;
}

.dtb:hover{
  animation: jumpBoxHandler .4s ;/* 1.8s 事件完成时间周期 infinite无限循环 */
}
@keyframes jumpBoxHandler { /* css事件 */
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px); /* 可配置跳动方向 */
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.xf{
  position: relative;
  height: 28px;
  width: 28px;
  top: -367px;
  left: 726px;
  z-index: 1000000000000;
}

.xf:hover{
  animation: jumpBoxHandler .4s ;/* 1.8s 事件完成时间周期 infinite无限循环 */
}
@keyframes jumpBoxHandler { /* css事件 */
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px); /* 可配置跳动方向 */
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.dt{
  position: relative;
  height: 28px;
  width: 28px;
  top: -367px;
  left: 750px;
  z-index: 1000000000000;
}

.dt:hover{
  animation: jumpBoxHandler .4s ;/* 1.8s 事件完成时间周期 infinite无限循环 */
}
@keyframes jumpBoxHandler { /* css事件 */
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px); /* 可配置跳动方向 */
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.star{
  position: relative;
  height: 28px;
  width: 28px;
  top: -367px;
  left: 774px;
  z-index: 1000000000000;
}

.star:hover{
  animation: jumpBoxHandler .4s ;/* 1.8s 事件完成时间周期 infinite无限循环 */
}
@keyframes jumpBoxHandler { /* css事件 */
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px); /* 可配置跳动方向 */
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.time{
  position: relative;
  height: 28px;
  width: 28px;
  top: -367px;
  left: 799px;
  z-index: 1000000000000;
}

.time:hover{
  animation: jumpBoxHandler .4s ;/* 1.8s 事件完成时间周期 infinite无限循环 */
}
@keyframes jumpBoxHandler { /* css事件 */
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px); /* 可配置跳动方向 */
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.bulb{
  position: relative;
  height: 28px;
  width: 28px;
  top: -367px;
  left: 837px;
  z-index: 1000000000000;
}

.bulb:hover{
  animation: jumpBoxHandler .4s ;/* 1.8s 事件完成时间周期 infinite无限循环 */
}
@keyframes jumpBoxHandler { /* css事件 */
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px); /* 可配置跳动方向 */
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.dianzan{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 670px;
  left: 130px;
}

.toubi{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 670px;
  left: 230px;
}

.shoucang-2{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 670px;
  left: 330px;
}

.zhuanfa{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 670px;
  left: 430px;
}

p.dianzan{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 663px;
  left: 190px;
}

p.toubi{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 663px;
  left: 290px;
}

p.shoucang-2{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 663px;
  left: 390px;
}

p.zhuanfa{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 663px;
  left: 490px;
}

.picture0{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../egg/v-img/bulb.png) no-repeat;
  background-size: 100% 100% ;
}

.timu{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture1{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../egg/v-img/sheep1.png) no-repeat;
  background-size: 100% 100% ;
}

.timu1{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up1{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan1{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture2{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../egg/v-img/miao.png) no-repeat;
  background-size: 100% 100% ;
}

.timu2{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up2{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan2{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture3{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../egg/v-img/jpd.png) no-repeat;
  background-size: 100% 100% ;
}

.timu3{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up3{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan3{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture4{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../egg/v-img/kk.jpg) no-repeat;
  background-size: 100% 100% ;
}

.timu4{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up4{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan4{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture5{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../egg/v-img/niba.jpg) no-repeat;
  background-size: 100% 100% ;
}

.timu5{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up5{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan5{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.bofang{
  position: relative;
  left: 450px;
  top: -120px;
}

.bofang1{
  position: relative;
  left: 290px;
  top: -10px;
}

.bofang2{
  position: relative;
  left: 130px;
  top: 100px;
}

.bofang3{
  position: relative;
  left: -30px;
  top: 210px;
}

.bofang4{
  position: relative;
  left: -190px;
  top: 320px;
}

.bofang5{
  position: relative;
  left: -350px;
  top: 430px;
}

.hr{
  position: absolute;
  width: 800px;
  left: 200px;
  border: rgb(230, 230, 230) 1px solid;
  top: 710px;
}

.sanlian{
  position: absolute;
  left: 70px;
  top: 0px;
}