.video{
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* width: 1600px; */
  background: #ffffff;
  font-family: "幼圆";
}

.body-0{
  margin: 0 150px 0 150px;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 450px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}

.gradient-border {
  position: relative;
  top: 80px;
  left: -270px;
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo{
  position: relative;
  width: 95px;
  height: 42.5px;
  margin: 0;
  padding: 0;
  left: 10px;
  top: 5px;
}

.touxiang{
  position: relative;
  top: 5px;
  left: 15px;
  width: 40px;
  height: 40px;
}

ul.slides{
  width: 1600px;
  height: 52.5px;
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  justify-content: center;
  box-shadow: 10px 10px 15px rgba(233, 233, 233, 0.9);
}

li.slide.slide1.slide2{
  text-align: center;
  height: 56.5px;
}

.slide1{
  position: relative;
  top: -9px;
  left: 12px;
  flex-direction: row;
  justify-content: center;
}

.slide2{
  position: relative;
  top: 0px;
  left: 12px;
  /* flex-direction: row;
  justify-content: center; */
  width: 40%;
  font-size: 13px;
}

.msi{
  position: relative;
  width: 65px;
  height: 20px;
  top: -5px;
  left: 15px;
}

ul li{
  display: inline;
  padding: 5px 10px 5px 10px;
}

.jump{
  position: absolute;
  height: 40px;
  top: 39px;
  left: 50%;
  display: none;
  white-space: nowrap;
  transform: translate(-50%, 0);
  border: #ffffff 1px solid;
  border-radius: 100px;
  box-shadow: 10px 10px 20px 5px rgba(233, 233, 233, 1.3);
}

.slide1:hover .jump {
  display: block;
  z-index: 1000;
}

.slide2:hover .jump {
  display: block;
  z-index: 1000;
}

a{
  position: relative;
  text-decoration: none;
  color: #1D1F20;
  font-family: "幼圆";
  font-weight: bold;
  /* text-align: center; */
  text-align: left;
}

p{
  display: inline-block;
}

.watch{
  position: absolute;
  top: 105px;
  left: 140px;
  margin: 10px 0 10px 0;
  color: rgb(150, 149, 149);
  font-size: 14px;
  font-weight: bold;
}

h2{
  position: absolute;
  top: 80px;
  left: 140px;
  margin: 10px 0 10px 0;
}

.danmu{
  position: absolute;
  align-items: left;
  top: 625px;
  left: 120px;
  height: 60px;
  width: 805px;
  box-shadow: 0px 5px 10px 1px rgba(233, 233, 233, 1.3);
}

.danmu-1{
  position: relative;
  height: 20px;
  width: 40px;
  left: -10px;
  top: 3px;
}

.danmu-2{
  position: relative;
  height: 20px;
  width: 40px;
  left: -30px;
  top: 3px;

}

.introduce-touxiang{
  position: relative;
  width: 65px;
  height: 65px;
  top: -210px;
}

.p0{
  position: relative;
  top: -2px;
  left: -35px;
  border-radius: 10px 0 0 10px;
  border: rgb(232, 223, 223) 2px solid;
  background-color: rgb(232, 223, 223);
  padding: 6px;
}

.p00{
  position: relative;
  position: relative;
  top: -2px;
  left: -43px;
  border-radius: 0 10px 10px 0;
  border: #00aeec 2px solid;
  background-color: #00aeec;
  padding: 6px;
  color: #ffffff;
  font-weight: bold;

}

.p1{
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: -265px;
  left: 6px;
  color: hotpink;
}

.s0{
  position: relative;
  font-weight: bold;
  font-size: 14px;
  top: -265px;
  left: 30px;
  color: gray;
}

.p2{
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -287px;
  left: 82px;
  color: rgb(147, 147, 147);
}

.i1{
  position: relative;
  height: 20px;
  width: 20px;
  top: 4px;
  left: 8px;
}

.s1{
  font-size: 14px;
  padding: 7px 20px;
  font-weight: bold;
  color: hotpink;
  position: relative;
  border: hotpink 1px solid;
  top: -293px;
  left: 75px;
  border-radius: 7px;
  text-align: center;
  align-items: center;
}

.s1:hover{
  background-color: rgb(246, 218, 223);
}

.s2{
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 9px 27px;
  position: relative;
  /* border: rgb(53, 159, 224) 2px solid; */
  background-color: rgb(53, 159, 224);
  top: -293px;
  left: 90px;
  font-size: 14px;
  border-radius: 7px;
  font-weight: bold;
}

.s2:hover{
  background-color: rgb(86, 189, 230);
}

.introduce{
  position: relative;
  top: -250px;
  left: 620px;
}

.dtb{
  position: relative;
  height: 28px;
  width: 28px;
  top: -370px;
  left: -265px;
  z-index: 1000000000000;
}