/*
  body {
    font-size: small;
    font-family: Verdana， Helvetica， Arial;
  }
*/

body {
	font-size: small;
	font-family: Georgia, "Times New Roman";
	line-height: 1.9em;
  color: #444444;
}

h1, h2 {
	color: #007e7e; /* 将标题设置为一种青绿色，使他和 logo 更相合 */
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.guarantee {
  border-top-color: lightcoral;
  border-bottom-color: lightsalmon;
  border-width: 3.5px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px; /* 新增内边距 */
  margin: 30px;  /* 新增外边距 */
  font-style: italic;
  background-image: url(images/background.gif);/*添加背景图片*/
  background-repeat: no-repeat;/*设置背景图片不充复*/
  background-position: top left;/*设置图片在左上方*/
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}