* {
  margin: 0%;
  padding: 0%;
}

html,body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.title0 {
  height: 100px;
  /* background-color: red; */
  position: relative;
  display: flex;
}

.body-0 {
  width: 100%;
  height: 900px;
  background-image: url("./img/tk.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.title0-img {
  width: 210px;
  height: 46px;
  /* margin-left: 9%; */
  position: relative;
  top: 36px;
  left: 50px;
}

.title0-img img {
  width: 100%;
  height: 100%;
}

.title0-nav {
  width: 65%;
  height: 26px;
  /* background-color: aqua; */
  margin-left: 4%;
  position: relative;
  top: 46px;
  display: flex;
}

.title0-nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  display: inline-block;
  height: 100%;
  background: url("./img/bai.png") no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 1s;
}

.title0-nav a:hover {
  background-size: 100px 2px;
  background-position-x: left;
}

.title0-nav a:nth-child(5) {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  display: inline-block;
  height: 100%;
  background: url("./img/bai.png") no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 1s;
}

.title0-nav a:nth-child(5):hover {
  background-size: 180px 2px;
  background-position-x: left;
}

.title0-nav-rigth {
  /* width: 100px; */
  /* background-color: aqua; */
  height: 26px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 46px;
  text-decoration: none;
  position: relative;
  display: flex;
}

.title0-nav-rigth a {
  display: inline-block;
  text-decoration: none;
  height: 20px;
  font-weight: bold;
  color: white;
  height: 100%;
  position: relative;
  top: 0px;
  left: -80px;
  background: url("./img/bai.png") no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 1s;
}

.title0-nav-rigth a:hover {
  background-size: 100px 2px;
  background-position-x: left;
}

.title0-nav-rigth img {
  width: 20px;
  height: 90%;
  /* margin-left: 40%; */
  position: relative;
  left: -40px;
  /* top: -5px; */
}

.slogan {
  max-width: 960px;
  width: 90%;
  position: absolute;
  top: 30%;
  height: 200px;
  left: 18%;
}

.slogan h1 {
  color: white;
  font-size: 70px;
  margin-left: 8%;
}

.slogan h6 {
  color: white;
  /* background-color: white; */
  display: inline;
  margin-left: 40%;
}

.body-1 {
  width: 1600px;
  height: 112%;
  /* max-height: 700px; */
  background-color: black;
  margin-top: -15px;
  position: relative;
  /* overflow: hidden; */
  /* margin-left: -400px; */
}

.body-1 .slides {
  width: 380%;
  height: 120%;
  /* background-color: black; */
  z-index: 10;
  position: relative;
  left: -690px;
  overflow: hidden;
}

.body-1 .slides img{
  overflow: hidden;
}

.body-1 .slide {
  display: inline-block;
  width: 16.5%;
  height: 100%;
  z-index: 10;
  /* margin-left: 20px; */
  margin-top: -210px;
  overflow: hidden;
}

.body-1 .slide img {
  width: 99%;
  height: 105%;
  margin-top: -80px;
  /* margin-left: 10px; */
  overflow: hidden;
}

.body-1 .slide-1 {
  display: inline-block;
  width: 16.5%;
  height: 1000px;
  z-index: 10;
  /* margin-left: 20px; */
  margin-top: -210px;
  overflow: hidden;
}

.body-1 .slide-1 img {
  width: 120%;
  height: 120%;
  margin-top: -80px;
  /* margin-left: 10px; */
  overflow: hidden;
}

input {
  width: 13px;
  height: 13px;
  border-radius: 30px;
  margin-left: 20px;
  background-color: #4c4c4c;
}

input:nth-child(1) {
  position: absolute;
  top: 850px;
  left: 625px;
  z-index: 100;
  background-color: #ffffff;
}

input:nth-child(2) {
  position: absolute;
  top: 850px;
  left: 775px;
  z-index: 100;
  background-color: #ffffff;
}

input:nth-child(3) {
  position: absolute;
  top: 850px;
  left: 825px;
  z-index: 100;
  background-color: #ffffff;
}

input:nth-child(4) {
  position: absolute;
  top: 850px;
  left: 875px;
  z-index: 100;
  background-color: #ffffff;
}

.put1 {
  margin-left: 120px !important;
}

.put1:checked~ul {
  transition: all 1s;
  margin-left: 0px !important;
}

.put2:checked~ul {
  transition: all 1s;
  margin-left: -1050px !important;
}

.put3:checked~ul {
  transition: all 1s;
  margin-left: -2050px !important;
}

.put4:checked~ul {
  transition: all 1s;
  margin-left: -3050px !important;
}

.word {
  width: 350px;
  height: 100px;
  position: relative;
  top: 85%;
  left: -1%;
  text-align: center;
}

.left {
  margin-left: 0px !important;
}

.word h1 {
  color: white;
}

.word h6 {
  color: white;
  margin-left: 85px;
}

.word audio {
  width: 70%;
  height: 50px;
  margin-top: 10px;
  margin-left: 90px;
}

.body-2 {
  width: 100%;
  height: 120%;
  /* max-height: 700px; */
  background-color: black;
  margin-top: 110px;
  position: relative;
  /* z-index: 100; */
  /* overflow: hidden; */
}

.body-2 .picture {
  width: 700px;
  height: 500px;
  background-color: black;
  position: absolute;
  /* bottom: -80px; */
  left: 27%;
}

.body-2 .picture .picture-img {
  width: 80%;
  height: 70%;
  /* background-color: black; */
  position: relative;
  /* top: 250px; */
  top: 87%;
  left: 15%;
  object-fit: fill;
}

.body-2 .picture .picture-img img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 20px;
}

.body-2 .picture .picture-one {
  width: 92%;
  height: 140%;
  border: 1px dashed white;
  position: absolute;
  left: 10%;
  top: 90%;
  border-radius: 100%;
}

.body-2 .picture .picture-two {
  width: 120%;
  height: 180%;
  border: 1px dashed white;
  position: absolute;
  left: -4%;
  top: 70%;
  border-radius: 100%;
}
