* {
  margin: 0%;
  padding: 0%;
}

html,body {
  width: 100%;
  height: 100%;
  background-color: black;
}

* {
  margin: 0%;
  padding: 0%;
}

html,body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.title-0 {
  height: 100px;
  position: relative;
  display: flex;
}

.body-0 {
  width: 100%;
  height: 900px;
  background-image: url("img/tk.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.title-0-img {
  width: 210px;
  height: 46px;
  position: relative;
  top: 36px;
  left: 50px;
}

.title-0-img img {
  width: 110%;
  height: 90%;
}

.title-0-nav {
  width: 80%;
  height: 26px;
  margin-left: 4%;
  position: relative;
  top: 46px;
  display: flex;
}

.title-0-nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  display: inline-block;
  height: 100%;
  background: url("img/bai.png") no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 1s;
}

.title-0-nav a:hover {
  background-size: 100px 2px;
  background-position-x: left;
}

.title-0-nav a:nth-child(5) {
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  display: inline-block;
  height: 100%;
  background: url("img/bai.png") no-repeat right bottom;
  background-size: 0px 2px;
  transition: background-size 1s;
}

.title-0-nav a:nth-child(5):hover {
  background-size: 180px 2px;
  background-position-x: left;
}

.title-0-nav-rigth {
  height: 26px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 46px;
  text-decoration: none;
  position: relative;
  display: flex;
}

.title-0-nav-rigth a {
  display: inline-block;
  text-decoration: none;
  height: 20px;
  font-weight: bold;
  color: white;
  height: 100%;
  position: relative;
  top: 0px;
  left: -80px;
  background: url("img/bai.png") no-repeat right bottom;
  /* background-blend-mode:multiply; */
  background-size: 0px 2px;
  transition: background-size 1s;
}

.title-0-nav-rigth a:hover {
  background-size: 100px 2px;
  background-position-x: left;
}

.title-0-nav-rigth img {
  width: 20px;
  height: 90%;
  /* margin-left: 40%; */
  position: relative;
  left: -40px;
  /* top: -5px; */
}

.nr {
  max-width: 960px;
  width: 90%;
  position: relative;
  top: 20%;
  height: 200px;
  left: 18%;
}

.nr h1 {
  color: white;
  font-size: 76px;
  margin-left: 8%;
}

.nr h6 {
  color: white;
  display: inline;
  margin-left: 40%;
}


.title-0-keystroke{
  width: 100px;
  height: 50px;
  position: relative;
  top: 700px;
  left: 750px;
}

.title-0-keystroke img{
  width: 60%;
  height: 100%;
}

.img-select{
  z-index: 1000;
  cursor: pointer;
}

.nav-0{
  width: 300px;
  height: 0px;
  position: absolute;
  left: 80%;
  top: 80%;
  display: none;
  transition: height 2s;
  overflow: hidden;
}
.nav-0-item{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #aba4a4;
  color: white;
  line-height: 50px;
  text-indent: 9em;
  font-size: 20px;
  transition: height 2s;
}





.body-1 {
  width: 1600px;
  height: 112%;
  /* max-height: 700px; */
  background-color: black;
  margin-top: -15px;
  position: relative;
  /* overflow: hidden; */
  /* margin-left: -400px; */
}

.body-1 .slides {
  width: 380%;
  height: 120%;
  /* background-color: black; */
  z-index: 10;
  position: relative;
  left: -690px;
  overflow: hidden;
}

.body-1 .slides img{
  overflow: hidden;
}

.body-1 .slide {
  display: inline-block;
  width: 16.5%;
  height: 100%;
  z-index: 10;
  /* margin-left: 20px; */
  margin-top: -210px;
  overflow: hidden;
}

.body-1 .slide img {
  width: 98%;
  height: 105%;
  margin-top: -80px;
  /* margin-left: 10px; */
  overflow: hidden;
}

.body-1 .slide-1 {
  display: inline-block;
  width: 16.5%;
  height: 1000px;
  z-index: 10;
  /* margin-left: 20px; */
  margin-top: -210px;
  overflow: hidden;
}

.body-1 .slide-1 img {
  width: 120%;
  height: 120%;
  margin-top: -80px;
  /* margin-left: 10px; */
  overflow: hidden;
}

input {
  width: 13px;
  height: 13px;
  border-radius: 30px;
  margin-left: 20px;
  background-color: #4c4c4c;
}

input:nth-child(1) {
  position: absolute;
  top: 850px;
  left: 625px;
  z-index: 100;
  background-color: #ffffff;
}

input:nth-child(2) {
  position: absolute;
  top: 850px;
  left: 775px;
  z-index: 100;
  background-color: #ffffff;
}

input:nth-child(3) {
  position: absolute;
  top: 850px;
  left: 825px;
  z-index: 100;
  background-color: #ffffff;
}

input:nth-child(4) {
  position: absolute;
  top: 850px;
  left: 875px;
  z-index: 100;
  background-color: #ffffff;
}

.put1 {
  margin-left: 120px !important;
}

.put1:checked~ul {
  transition: all 1s;
  margin-left: 0px !important;
}

.put2:checked~ul {
  transition: all 1s;
  margin-left: -1050px !important;
}

.put3:checked~ul {
  transition: all 1s;
  margin-left: -2050px !important;
}

.put4:checked~ul {
  transition: all 1s;
  margin-left: -3050px !important;
}

.word {
  width: 350px;
  height: 100px;
  position: relative;
  top: 85%;
  left: -1%;
  text-align: center;
}

.left {
  margin-left: 0px !important;
}

.word h1 {
  color: white;
}

.word h6 {
  color: white;
  margin-left: 85px;
}

.word audio {
  width: 70%;
  height: 50px;
  margin-top: 10px;
  margin-left: 90px;
}

.body-2 {
  width: 100%;
  height: 120%;
  /* max-height: 700px; */
  background-color: black;
  margin-top: 110px;
  position: relative;
  /* z-index: 100; */
  /* overflow: hidden; */
}

.body-2 .picture {
  width: 700px;
  height: 500px;
  background-color: black;
  position: absolute;
  /* bottom: -80px; */
  left: 27%;
}

.body-2 .picture .picture-img {
  width: 80%;
  height: 70%;
  /* background-color: black; */
  position: relative;
  /* top: 250px; */
  top: 87%;
  left: 15%;
  object-fit: fill;
}

.body-2 .picture .picture-img img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 20px;
}

.body-2 .picture .picture-one {
  width: 92%;
  height: 140%;
  border: 1px dashed white;
  position: absolute;
  left: 10%;
  top: 90%;
  border-radius: 100%;
}

.body-2 .picture .picture-two {
  width: 120%;
  height: 180%;
  border: 1px dashed white;
  position: absolute;
  left: -4%;
  top: 70%;
  border-radius: 100%;
}

.Home-tabber {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  top: -130px;
  display: flex;
}

.picture-three {
  width: 150%;
  height: 1000px;
  border: 1px dashed white;
  position: absolute;
  left: -18%;
  top: 50%;
  border-radius: 100%;
}

.tiele2 {
  width: 100%;
  height: 46px;
  /* background-color: red; */
  position: relative;
  top: 30px;
  left: 50px;
}

.tiele2 h1 {
  color: white;
  /* font-size: 40px; */
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 46px;
}

.one-img {
  width: 200px;
  height: 200px;
  transform: translate(430px, 490px);
  transition: all 1.5s;
}

.one-img img:hover {
  content: url("../spacex/img/destination-iss-hover.svg");
}

.img-two {
  width: 200px;
  height: auto;
  transform: translate(450px, 180px);
  background-size: 100%;
  transition: all 1.5s;
}

.img-two img:hover {
  content: url("../spacex/img/destination-dragon-hover.svg");
}

.img-three {
  width: 200px;
  height: 200px;
  transform: translate(680px, -90px);
  transition: all 1.5s;
}

.img-three img:hover {
  content: url("../spacex/img/destination-moon-hover.svg");
}

.img-four {
  width: 300px;
  height: 300px;
  transform: translate(1050px, -400px);
  transition: all 1.5s;
}

.img-four img:hover {
  content: url("../spacex/img/destination-mars-hover.svg");
}

.body-2:hover .one-img {
  transform: translate(460px, 470px);
}

.body-2:hover .img-two {
  transform: translate(480px, 160px);
}

.body-2:hover .img-three {
  transform: translate(710px, -70px);
}

.body-2:hover .img-four {
  transform: translate(1150px, -400px);
}




.o{
  width: 0;
}




.body-4{
  width: 100%;
  height: 140%;
  background-color: black;
  display: flex;
  position: relative;
}

.body-4-left{
  width: 40%;
  height: 40%;
  background-color: black;
  position: absolute;
  top: 20%;
  left: 0%;
  z-index: 100;
}

.body-4-right{
  width: 100%;
  height: 100%;
  background-color: black;
}

.title-4{
  position: absolute;
  z-index: 100; 
  width: 400px;
  height: 50px;
  font-size: 20px;
  color: white;
  left: 640px;
  margin-top: 120px;
}

.body-4-left-title{
  width: 80%;
  height: 290px;
  position: relative;
  top: 60%;
  left: 8%;
  line-height: 150%;
}

span-up:hover{
  background-color: white ;
  color: black ;
}

.body-5{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.body-5:hover .img-5 img{
  margin-top: 20%;
  opacity: 1;
}

.img-5{
  width: 60%;
  height: 120%;
  position: relative;
}

.img-5 img{
  width: 90%;
  height: 52%;
  margin-top: 24%;
  opacity: 0.6;
  transition: all 1s;
}

.right-5{
  width: 40%;
  height: 100%;
  background-color: black;
}

.right-5-item{
  width: 90%;
  height: 300px;
  position: relative;
  top: 20%;
}

.body-4-left-title h1{
  color: white;
  position: relative;
  top: 20%;
}

.body-4-left-title p{
color: white;
  position: relative;
  top: 30%;
} 

.span-up{
  transition: all 1s;
  cursor: pointer;
  color: white;
  width: 230px;
  height: 50px;
  background-color: black;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 8%;
  border: 3px solid white;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
}

.span-up:hover{
  background: white;
  color:black;
}

.span-up-to{
  transition:all 1s;
  cursor: pointer;
  color: white;
  width: 230px;
  height: 50px;
  background-color: black;
  display: inline-block;
  position: relative;
  top: 60%;
  left: 1%;
  border: 3px solid white;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
}

.span-up-to:hover{
  background: white;
  color:black;
}

.body-4-right video{
  width: 120%; 
  height: 100%;
  object-fit:contain;
  position: absolute; 
  left: 0; 
  top: 10%;
}

.right-5-item h1{
  color: white;
  font-size: 40px;
  position: relative;
  top: 30%;
}

.right-5-item p{
  color: white;
  position: relative;
  top: 40%;
  line-height: 30px;
}

.z1 {
  padding: 0;
  margin: 0;
  border:0;
  transition: all 2s ease-in;
}

.z1:hover {
  transform:scale(1.05);
}

.z2 {
  color: white;
  font-family: arial;
  font-weight:bolder;
  font-size: 5vh;;
  padding: 0 20px;
  text-align: center;
}

.z3{
  width: 1600px;
  height: 50%;
  margin-left: 15px;
  margin-top: 10%;
  overflow: hidden;
  position: relative;
}

.z4{
  width: 600%;
  height: 85%;
}

.z4  li{
  width: 5.65%;
  height: 100%;
  margin-right: 20px;
  float: left;
  list-style: none;
  position: relative;
}

.z4  li img{
  width: 100%;
  height: 90%;
}

.z5{
  width: 300px;
  height: 100px;
  position: absolute;
  top: 63%;
  color: white;
  margin-top: 20px;
  margin-left: 30px;
  font-weight: bolder;
  font-size:medium; 
}

.z8{
  color: white;
  margin-top: 10px;
  margin-left: 30px;
  font-weight: normal;
  font-size: small;
}

.z0{
  transition: all 1.1s ease-in;
}

.z0:hover{
  filter:alpha(opacity=60);
  -maz-opacity:0.6;
  opacity: 0.6;
  transition: all 1.1s ease-in;
  /* transition: all 1.5s linear; */
}

.z12{
  color: white; 
  margin-top: 5px;
  margin-left: 30px;
  width: 400px;
  font-weight: normal;
  font-size: small;
}

/* #Zero{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 33%;
  z-index: 1000;
}

#Zero:checked ~ ul{
  transition: all 1s;
  margin-left: 590px;
} */

#one{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 35%;
  z-index: 1000;
}

#one:checked ~ ul{
  transition: all 1s;
  margin-left: 0px;
}

#two{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 38%;
  z-index: 1000;
}

#two:checked ~ ul{
  transition: all 1s;
  margin-left: -590px;
}

#three{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 41%;
  z-index: 1000;
}

#three:checked ~ ul{
  transition: all 1s;
  margin-left: -1130px;
}

#four{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 44%;
  z-index: 1000;
}

#four:checked ~ ul{
  transition: all 1s;
  margin-left: -1700px;
}

#Five{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 47%;
  z-index: 1000;
}

#Five:checked ~ ul{
  transition: all 1s;
  margin-left: -2300px;
}

#Six{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 50%;
  z-index: 1000;
}

#Six:checked ~ ul{
  transition: all 1s;
  margin-left: -2850px;
}

#Seven{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 53%;
  z-index: 1000;
}

#Seven:checked ~ ul{
  transition: all 1s;
  margin-left: -3430px;
}

#Eight{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 56%;
  z-index: 1000;
}

#Eight:checked ~ ul{
  transition: all 1s;
  margin-left: -4000px;
}

#Nine{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 59%;
  z-index: 1000;
}

#Nine:checked ~ ul{
  transition: all 1s;
  margin-left: -4600px;
}

#Ten{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 62%;
  z-index: 1000;
}

#Ten:checked ~ ul{
  transition: all 1s;
  margin-left: -5180px;
}

#Eleven{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 95%;
  left: 65%;
  z-index: 1000;
}

#Eleven:checked ~ ul{
  transition: all 1s;
  margin-left: -5720px;
}

.z6{
  width: 100%;
  height: 50px;
  margin-top: 13%;
  text-align: center;
  line-height: 50px;
  font-size: smaller;
}

.z7{
  display: flex;
  list-style: none;
  margin-left: 22%;
  font-size: smaller;
}

.z6 ul li{
  margin-left: 38px;
  color: white;
  transition: all 1s;
}

.z6 ul li:nth-child(1){
  color: #aba4a4;
}

.z6 ul li:nth-child(2):hover{
  color: #aba4a4;
  cursor: pointer;
}

.z6 ul li:nth-child(3):hover{
  color: #aba4a4;
  cursor: pointer;
}

.z6 ul li:nth-child(4):hover{
  color: #aba4a4;
  cursor: pointer;
}

.z6 ul li:nth-child(5):hover{
  color: #aba4a4;
  cursor: pointer;
}

.z6 ul li:nth-child(6):hover{
  color: #aba4a4;
  cursor: pointer;
}

.z6 ul li:nth-child(7):hover{
  color: #aba4a4;
  cursor: pointer;
}

.z6 ul li:nth-child(8):hover{
  color: #aba4a4;
  cursor: pointer;
}
