html{
    font-family: Verdana, Geneva, Arial;
    font-size: 12px;
}

h1,h2{
    color: #CC6600;
    border-bottom: thin dotted #888888;
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.3rem;
    font-weight: normal;
}

blockquote{
    font-style: initial;
}