.picture0{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../spacex/egg/v-img/bulb.png) no-repeat;
  background-size: 100% 100% ;
}

.timu{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture1{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../spacex/egg/v-img/bulb.png) no-repeat;
  background-size: 100% 100% ;
}

.timu1{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up1{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan1{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture2{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../spacex/egg/v-img/bulb.png) no-repeat;
  background-size: 100% 100% ;
}

.timu2{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up2{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan2{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture3{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../spacex/egg/v-img/bulb.png) no-repeat;
  background-size: 100% 100% ;
}

.timu3{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up3{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan3{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.picture4{
  position: relative;
  height: 85px;
  width: 160px;
  border-radius: 5px;
  background: url(../spacex/egg/v-img/bulb.png) no-repeat;
  background-size: 100% 100% ;
}

.timu4{
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -95px;
  left: 180px;
}

.up4{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}

.liulan4{
  position: relative;
  font-size: 10px;
  font-weight: bold;
  top: -95px;
  left: 180px;
  color: slategray;
}