p{
  color: mediumslateblue;
}
h1,h2{
  font-family: Arial;
  color: rgb(231, 243, 127);
}
h1{
  border-bottom: 1px solid red;
}
em {
  font-family: "Georgia, 'Times New Roman', Times, serif"; /* 注意双引号这个细节，想想原因 */
  color: rgb(20, 255, 243);
}
html {
  font-size: 16px; /* 设置根元素字体大小 */ 
}

h1 {
  font-size: 2rem; /* 相对于根元素字体大小的 2 倍 */
}

p {
  font-size: 1rem;
}
p {
  font-size: 2em; 
}
h1 {
font-size: 10vw; 
}
body{
	color: rgb(18,110,130);
}
body{
	background-color: rgb(143,119,181);
}

a{
text-decoration:none;
}