img {
  max-width: 100%;
  height: auto;
}
html.noscroll-long {
  overflow-y: scroll !important;
}
html.noscroll,
html.noscroll body {
  overflow: hidden !important;
  height: 100% !important;
}
.bx-mo {
  display: none;
}
.img-mo {
  display: none;
}
.bbs-none-action {
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
.ff-en {
  font-family: 'Ubuntu', sans-serif;
}

.c-gray {
  color: #ddd !important;
}
.c-red {
  color: #ff9027 !important;
}
.view-m {
  display: none !important;
}
@media screen and (max-width: 840px) {
  .view-m {
    display: block !important;
  }
  .hide-m {
    display: none !important;
  }
}
.pos-r {
  position: relative;
}
.va-t {
  vertical-align: top !important;
}
.va-m {
  vertical-align: middle !important;
}
.va-b {
  vertical-align: bottom !important;
}
.inr-c {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.inr-c2 {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1860px) {
  .inr-c2 {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 1460px) {
  .inr-c {
    margin-left: 30px;
    margin-right: 30px;
  }
}
br.mo {
  display: none;
}
@media screen and (max-width: 840px) {
  br.pc {
    display: none;
  }
  br.mo {
    display: block;
  }
  .inr-c,
  .inr-c2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.ta-l {
  text-align: left !important;
}
.ta-r {
  text-align: right !important;
}
.ta-c {
  text-align: center !important;
}
.ov-v {
  overflow: visible !important;
}
.ov-h {
  overflow: hidden overflow: visible !important;
}
.d-b {
  display: block  !important;
}
.d-ib {
  display: inline-block !important;
  *display: inline;
  *zoom: 1;
}
.d-t {
  display: table !important;
}
.d-tc {
  display: table-cell !important;
  vertical-align: middle;
}
.modal-cover {
  background-color: rgba(0, 0, 0, 0.6);
  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000 0, endColorstr=#cc000000 0);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@filter_a, endColorstr=@filter_a)";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}
.lst-col {
  font-size: 0;
  text-align: center;
}
.lst-col .item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lst-col.n2 .item {
  width: 50%;
}
.lst-col.n3 .item {
  width: 33.3333%;
}
.lst-col.n4 .item {
  width: 25%;
}
.lst-col.n5 .item {
  width: 20%;
}
@media screen and (max-width: 1040px) {
  .lst-col.n4 .item {
    width: 50%;
    margin-bottom: 40px;
  }
  .lst-col.n3 .item {
    width: 50%;
  }
}
@media screen and (max-width: 840px) {
  .lst-col .item {
    font-size: 3vw;
  }
}
/*//íŒ¨ë”©&ë§ˆì§„
.p0{.pa-imp(0);}.p10{.pa-imp(10);}.p20{.pa-imp(20);}.p30{.pa-imp(30);}.p40{.pa-imp(40);}.p50{.pa-imp(50);}
.pt0{.pt-imp(0);}.pt1{.pt-imp(2);}.pt2{.pt-imp(2);}.pt3{.pt-imp(3);}.pt4{.pt-imp(4);}.pt5{.pt-imp(5);}.pt10{.pt-imp(10);}.pt15{.pt-imp(15);}.pt20{.pt-imp(20);}.pt25{.pt-imp(25);}.pt30{.pt-imp(30);}.pt35{.pt-imp(35);}.pt40{.pt-imp(40);}.pt50{.pt-imp(50);}.pt55{.pt-imp(55);}.pt60{.pt-imp(60);}.pt65{.pt-imp(65);}.pt70{.pt-imp(70);}.pt75{.pt-imp(75);}.pt80{.pt-imp(80);}.pt85{.pt-imp(85);}.pt90{.pt-imp(90);}.pt95{.pt-imp(95);}
.pb0{.pb-imp(0);}.pb5{.pb-imp(5);}.pb10{.pb-imp(10);}.pb15{.pb-imp(15);}.pb20{.pb-imp(20);}.pb25{.pb-imp(25);}.pb30{.pb-imp(30);}.pb35{.pb-imp(35);}.pb40{.pb-imp(40);}.pb50{.pb-imp(50);}.pb55{.pb-imp(55);}.pb60{.pb-imp(60);}.pb65{.pb-imp(65);}.pb70{.pb-imp(70);}.pb75{.pb-imp(75);}.pb80{.pb-imp(80);}.pb85{.pb-imp(85);}.pb90{.pb-imp(90);}.pb95{.pb-imp(95);}
.pl0{.pl-imp(0);}.pl5{.pl-imp(5);}.pl10{.pl-imp(10);}.pl15{.pl-imp(15);}.pl20{.pl-imp(20);}.pl25{.pl-imp(25);}.pl30{.pl-imp(30);}.pl35{.pl-imp(35);}.pl40{.pl-imp(40);}.pl45{.pl-imp(45);}.pl50{.pl-imp(50);}.pl55{.pl-imp(55);}.pl60{.pl-imp(60);}.pl65{.pl-imp(65);}.pl70{.pl-imp(70);}.pl75{.pl-imp(75);}.pl80{.pl-imp(80);}.pl85{.pl-imp(85);}.pl90{.pl-imp(90);}.pl95{.pl-imp(95);}
.pr0{.pr-imp(0);}.pr5{.pr-imp(5);}.pr10{.pr-imp(10);}.pr15{.pr-imp(15);}.pr20{.pr-imp(20);}.pr25{.pr-imp(25);}.pr30{.pr-imp(30);}.pr35{.pr-imp(35);}.pr40{.pr-imp(40);}.pr50{.pr-imp(50);}.pr55{.pr-imp(55);}.pr60{.pr-imp(60);}.pr65{.pr-imp(65);}.pr70{.pr-imp(70);}.pr75{.pr-imp(75);}.pr80{.pr-imp(80);}
.mt-1{margin-top:-1px !important;}
.m0{.ma-imp(0);}.m10{.ma-imp(10);}.m15{.ma-imp(15);}.m20{.ma-imp(20);}.m30{.ma-imp(30);}.m40{.ma(40);}.m50{.ma(50);}
.mt0{.mt-imp(0);}.mt5{.mt-imp(5);}.mt10{.mt-imp(10);}.mt15{.mt-imp(15);}.mt20{.mt-imp(20);}.mt25{.mt-imp(25);}.mt30{.mt-imp(30);}.mt35{.mt-imp(35);}.mt40{.mt-imp(40);}.mt50{.mt-imp(50);}.mt55{.mt-imp(55);}.mt60{.mt-imp(60);}.mt65{.mt-imp(65);}.mt70{.mt-imp(70);}.mt75{.mt-imp(75);}.mt80{.mt-imp(80);}.mt85{.mt-imp(85);}.mt90{.mt-imp(90);}.mt95{.mt-imp(95);}
.mb0{.mb-imp(0);}.mb5{.mb-imp(5);}.mb10{.mb-imp(10);}.mb15{.mb-imp(15);}.mb20{.mb-imp(20);}.mb25{.mb-imp(25);}.mb30{.mb-imp(30);}.mb35{.mb-imp(35);}.mb40{.mb-imp(40);}.mb50{.mb-imp(50);}.mb55{.mb-imp(55);}.mb60{.mb-imp(60);}.mb65{.mb-imp(65);}.mb70{.mb-imp(70);}.mb75{.mb-imp(75);}.mb80{.mb-imp(80);}.mb85{.mb-imp(85);}.mb90{.mb-imp(90);}.mb95{.mb-imp(95);}
.ml0{.ml-imp(0);}.ml5{.ml-imp(5);}.ml10{.ml-imp(10);}.ml15{.ml-imp(15);}.ml20{.ml-imp(20);}.ml25{.ml-imp(25);}.ml30{.ml-imp(30);}.ml35{.ml-imp(35);}.ml40{.ml-imp(40);}.ml50{.ml-imp(50);}.ml55{.ml-imp(55);}.ml60{.ml-imp(60);}.ml65{.ml-imp(65);}.ml70{.ml-imp(70);}.ml75{.ml-imp(75);}.ml80{.ml-imp(80);}.ml85{.ml-imp(85);}.ml90{.ml-imp(90);}.ml95{.ml-imp(95);}
.mr0{.mr-imp(0);}.mr5{.mr-imp(5);}.mr10{.mr-imp(10);}.mr15{.mr-imp(15);}.mr20{.mr-imp(20);}.mr25{.mr-imp(25);}.mr30{.mr-imp(30);}.mr35{.mr-imp(35);}.mr40{.mr-imp(40);}.mr50{.mr-imp(50);}.mr55{.mr-imp(55);}.mr60{.mr-imp(60);}.mr65{.mr-imp(65);}.mr70{.mr-imp(70);}.mr75{.mr-imp(75);}.mr80{.mr-imp(80);}*/
.ml-g10 > * {
  margin-left: 10px !important;
}
.mr-g10 > * {
  margin-right: 10px !important;
}
.ma-g5 {
  font-size: 0;
  line-height: 0;
}
.ma-g5 > * {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.ma-g10 {
  font-size: 0;
  line-height: 0;
}
.ma-g10 > * {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.ma-g15 {
  font-size: 0;
  line-height: 0;
}
.ma-g15 > * {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.ma-g20 {
  font-size: 0;
  line-height: 0;
}
.ma-g20 > * {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.ma-g25 {
  font-size: 0;
  line-height: 0;
}
.ma-g25 > * {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.g-line {
  font-size: 0;
  line-height: 0;
}
.g-line > * {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 20px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1;
  position: relative;
}
.g-line > *::after {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 16px;
  margin-top: -8px;
  content: "";
  background-color: #e8e8e8;
}
.g-line > *:first-child {
  margin-left: 0;
  padding-left: 0;
}
.g-line > *:first-child:after {
  display: none;
  padding-left: 0;
  margin-right: 0;
}
.inp_txt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 100%;
}
.inp_txt > input,
input.inp_txt {
  width: 100%;
  height: auto;
  line-height: normal;
  padding: 8px 20px;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  outline-style: none;
  /* iSO ë‘¥ê·¼ëª¨ì„œë¦¬ ì œê±° */
  -webkit-appearance: none;
  /* ë¸Œë¼ìš°ì €ë³„ ê¸°ë³¸ ìŠ¤íƒ€ì¼ë§ ì œê±° */
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input.inp_txt.ty2 {
  padding: 4px 10px;
  font-size: 14px;
  border: 1px solid #c3c3c3;
  background-color: #f7f7f7;
}
.inp_txt .ph {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 8px 20px;
  color: #ddd;
  cursor: text;
  line-height: normal;
}
.inp_txt.ty2 .ph {
  padding: 3px 10px;
}
.inp_txt.w1 > input,
input.inp_txt.w1 {
  width: 140px;
}
.inp_txt.w1 > input,
input.inp_txt.w2 {
  width: 230px;
}
.inp_txt.w1 > input,
input.inp_txt.w3 {
  width: 380px;
}
.wrap-select1 {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.wrap-select1:after {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 20px;
  top: 50%;
  content: "\f0d7";
  font-size: 15px;
  margin-top: -7px;
  color: #000;
}
select.select1 {
  font-size: 16px;
  color: #2f2f2f;
  min-width: 100px;
  padding: 4px 60px 4px 25px;
  min-width: 70px;
  height: 42px;
  padding: 4px 40px 4px 15px;
  border: 1px solid #c3c3c3;
  padding: 4px 9px 4px 15px\9;
  line-height: 1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background-color: #fff;
  background: none\9;
  position: relative;
}
:root select.select1 {
  padding: 6px 40px 6px 15px;
}
select.select1::-ms-expand {
  display: none;
}
select.select1:focus {
  border: 1px solid #0079c1;
}
textarea.textarea {
  width: 100%;
  height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-color: #c3c3c3;
}
div.textarea1 {
  height: 400px;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #ddd;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-word-break: keep-all;
  word-break: keep-all;
}
div.law-txt.h2,
textarea.law-txt.h2 {
  height: 130px;
}
div.law-txt.h3,
textarea.law-txt.h3 {
  height: 300px;
}
.btn-pack {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid #e8e8e8;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4c4c4c;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  vertical-align: middle;
}
.btn-pack:hover {
  background-color: #e8e8e8;
  color: #333;
}
.btn-pack.vs {
  min-width: 97px;
  height: 31px;
  line-height: 29px;
  font-size: 12px;
}
.btn-pack.s {
  min-width: 110px;
  height: 44px;
  line-height: 42px;
  font-size: 16px;
}
.btn-pack.n {
  min-width: 160px;
  height: 60px;
  line-height: 58px;
}
.btn-pack.l {
  min-width: 170px;
  height: 48px;
  line-height: 46px;
}
.btn-pack.vl {
  min-width: 170px;
  height: 48px;
  line-height: 46px;
}
.btn-pack.vl2 {
  min-width: 240px;
  height: 55px;
  line-height: 53px;
}
.btn-pack.vs.bdrs {
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  border-radius: 31px;
}
.btn-pack.s.bdrs {
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
}
.btn-pack.n.bdrs {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
.btn-pack.l.bdrs {
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border-radius: 48px;
}
.btn-pack.vl.bdrs {
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  border-radius: 48px;
}
.btn-pack.vl.bdrs {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  border-radius: 240px;
}
.btn-pack.blue {
  border-color: #1e3794;
  color: #1e3794;
}
.btn-pack.blue:hover {
  border-color: #1e3794;
  background-color: #3c8ac7;
  color: #fff;
}
.btn-pack.blue.rv {
  border-color: #1e3794;
  background-color: #1e3794;
  color: #fff;
}
.btn-pack.blue.rv:hover {
  border-color: #3c8ac7;
  background-color: #3c8ac7;
}
.btn-pack.blue2 {
  border-color: #2c3d5e;
  color: #2c3d5e;
}
.btn-pack.blue2:hover {
  border-color: #2c3d5e;
  background-color: #2c3d5e;
  color: #fff;
}
.btn-pack.blue2.rv {
  border-color: #2c3d5e;
  background-color: #2c3d5e;
  color: #fff;
}
.btn-pack.gray {
  border-color: #b0b0b0;
}
.btn-pack.gray:hover {
  border-color: #b0b0b0;
  background-color: #b0b0b0;
  color: #fff;
}
.btn-pack.gray.rv {
  border-color: #b0b0b0;
  background-color: #b0b0b0;
  color: #fff;
}
.btn-pack.red {
  border-color: #b32017;
}
.btn-pack.red:hover {
  border-color: #b32017;
  background-color: #b32017;
  color: #fff;
}
.btn-pack.red.rv {
  border-color: #b32017;
  background-color: #b32017;
  color: #fff;
}
.btn-pack.black {
  border-color: #2f2f2f;
}
.btn-pack.black:hover {
  border-color: #2f2f2f;
  background-color: #2f2f2f;
  color: #fff;
}
.btn-pack.black.rv {
  border-color: #2f2f2f;
  background-color: #2f2f2f;
  color: #fff;
}
button.btn-pack {
  line-height: 1 !important;
}
.inp_txt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 100%;
}
.inp_txt > input,
input.inp_txt {
  width: 100%;
  height: auto;
  line-height: normal;
  padding: 8px 20px;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  outline-style: none;
  /* iSO Ã«â€˜Â¥ÃªÂ·Â¼Ã«ÂªÂ¨Ã¬â€žÅ“Ã«Â¦Â¬ Ã¬Â Å“ÃªÂ±Â° */
  -webkit-appearance: none;
  /* Ã«Â¸Å’Ã«ÂÂ¼Ã¬Å¡Â°Ã¬Â â‚¬Ã«Â³â€ž ÃªÂ¸Â°Ã«Â³Â¸ Ã¬Å Â¤Ã­Æ’â‚¬Ã¬ÂÂ¼Ã«Â§Â Ã¬Â Å“ÃªÂ±Â° */
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input.inp_txt.ty2 {
  padding: 4px 10px;
  font-size: 14px;
  border: 1px solid #c3c3c3;
  background-color: #f7f7f7;
}
.inp_txt .ph {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 8px 20px;
  color: #ddd;
  cursor: text;
  line-height: normal;
}
.inp_txt.ty2 .ph {
  padding: 3px 10px;
}
.inp_txt.w1 > input,
input.inp_txt.w1 {
  width: 140px;
}
.inp_txt.w1 > input,
input.inp_txt.w2 {
  width: 230px;
}
.inp_txt.w1 > input,
input.inp_txt.w3 {
  width: 380px;
}
.lst-hov {
  font-size: 0;
  width: 100%;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin-bottom: 70px;
}
.lst-hov.n4 > .inner > * {
  width: 25%;
  margin-top: 30px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.lst-hov.n4 {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.lst-owl {
  width: 100%;
  visibility: hidden;
  font-size: 0;
  text-align: left;
  position: relative;
}
.lst-owl .owl-stage-outer {
  overflow: hidden;
}
.lst-owl .lst {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -ms-word-break: keep-all;
  word-break: keep-all;
  font-size: 16px;
}
.lst-owl .lst img {
  max-width: 100%;
  height: auto;
}
.lst-owl.n4 .lst {
  width: 230px;
}
.lst-owl.n4.w2 .lst {
  width: 100%;
}
.owl-nav.disabled {
  display: none;
}
.owl-dots {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #bbb;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.owl-dots.disabled {
  display: none;
}
.owl-dots .owl-dot.active {
  background-color: #000;
}
.lst-owl .owl-stage:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '';
}
.lst-owl .owl-stage .owl-item {
  float: left;
  text-align: center;
}
.inr-c.owl1 {
  width: 1100px;
}
.lst-owl .owl-prev {
  position: absolute;
  left: -40px;
  top: 50%;
  margin-top: -32.5px;
  background: url(../images/common/btn_prev4.png) 0 0 no-repeat;
  width: 65px;
  height: 65px;
  cursor: pointer;
}
.lst-owl .owl-next {
  position: absolute;
  right: -40px;
  top: 50%;
  margin-top: -32.5px;
  background: url(../images/common/btn_next4.png) 0 0 no-repeat;
  width: 65px;
  height: 65px;
  cursor: pointer;
}
.lst-owl.nav2 .owl-prev {
  position: absolute;
  left: -75px;
  top: 50%;
  margin-top: -32.5px;
  background: url(../images/common/btn_prev.jpg) 0 0 no-repeat;
  width: 65px;
  height: 65px;
  cursor: pointer;
}
.lst-owl.nav2 .owl-next {
  position: absolute;
  right: -75px;
  top: 50%;
  margin-top: -32.5px;
  background: url(../images/common/btn_next.jpg) 0 0 no-repeat;
  width: 65px;
  height: 65px;
  cursor: pointer;
}
.lst-owl.nav3 .owl-prev {
  position: absolute;
  left: inherit;
  right: 117px;
  top: 0;
  margin-top: 0;
  background: url(../images/common/btn_prev5.jpg) 0 0 no-repeat;
  width: 119px;
  height: 95px;
  cursor: pointer;
}
.lst-owl.nav3 .owl-next {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0;
  background: url(../images/common/btn_next5.jpg) 0 0 no-repeat;
  width: 119px;
  height: 95px;
  cursor: pointer;
}
.lst-owl.nav3 .owl-prev.disabled,
.lst-owl.nav3 .owl-next.disabled {
  opacity: 1;
}
.lst-owl .owl-prev.disabled,
.lst-owl .owl-next.disabled {
  opacity: 0.2;
}
.lst-owl.dot2 .owl-dots {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
}
.lst-owl.dot2 .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 14px;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}
.lst-owl.dot2 .owl-dots .owl-dot.active {
  background-color: #fff;
}
.lst-owl .box-prd {
  margin-left: 10px;
  margin-right: 10px;
}
.i-cut {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
.i-cut > img {
  visibility: hidden;
  height: auto;
  max-width: inherit;
}
.i-cut.ty2 {
  font-size: 0;
  background-color: #f3f3f3;
}
.i-cut.ty2 > * {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.i-cut.ty2:after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: "";
}
.ma-g10 {
  font-size: 0;
  text-align: center;
}
.ma-g10 > * {
  font-size: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.ma-g20 {
  font-size: 0;
  text-align: center;
}
.ma-g20 > * {
  font-size: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 20px !important;
  margin-right: 20px !important;
}


#container_sub{margin-top: 100px; margin-bottom: 160px;}