@charset 'utf-8';
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}
em {
  font-style: normal;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  font-size: 16px;
  font-family: 'Noto Sans KR', "Malgun Gothic", sans-serif;
  color: #444;
  font-weight: 400;
  letter-spacing: -0.04em;
}
body {
  overflow-y: scroll;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic !important;
}
label {
  cursor: pointer;
}
input,
select,
textarea {
  vertical-align: middle;
  outline: none;
}
input[type='text'],
input[type='password'],
textarea {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
input[type='text'],
input[type='password'],
textarea {
  font-size: 16px;
  line-height: 30px;
  font-family: 'Noto Sans KR', "Malgun Gothic", sans-serif;
  color: #696969;
}
ul,
li,
ol,
li,
dl,
dd,
dt {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
caption {
  font-size: 0;
  line-height: 0;
  z-index: -1;
  visibility: hidden;
  width: 0;
  height: 0;
}
legend,
hr {
  font-size: 0;
  position: absolute;
  z-index: -1;
  left: -999px;
  visibility: hidden;
  width: 0;
  height: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: #696969;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
/* Button */
button {
  font-size: 16px;
  line-height: 30px;
  font-family: 'Noto Sans KR', "Malgun Gothic", sans-serif;
  color: #696969;
}
button {
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button:focus {
  outline: 0 !important;
}
/* skip navigation */
.accessibilityWrap dd a {
  font-size: 1.3em;
  position: absolute;
  z-index: 500;
  top: -10000px;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}
.accessibilityWrap dd a:hover,
.accessibilityWrap dd a:focus,
.accessibilityWrap dd a:active {
  font-weight: bold;
  position: absolute;
  z-index: 500;
  top: 0;
  padding: 15px 0;
  color: #fff;
  background: #1d60a7;
}
.blind {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  background: none;
}
/* clearfix */
.clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \ */
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
/* //clearfix */
input:-moz-read-only {
  /* For Firefox */
  background-color: #f2f2f2 !important;
}
input:read-only {
  background-color: #f2f2f2  !important;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ababab;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ababab;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #ababab;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ababab;
}
/* --------------------------------------------------------- Browser ------------------------------------------------------------------ */
/* IE í•˜ìœ„ ë¸Œë¼ìš°ì €ìš© */
.not-browser {
  width: 600px;
  margin: auto;
  padding: 150px 20px;
  text-align: center;
}
.not-browser img.icon {
  display: inline-block;
}
.not-browser .warning {
  text-align: center;
}
.not-browser .warning span {
  display: inline-block;
  width: 82px;
  height: 71px;
  background-image: url("/images/common/error.png");
  background-repeat: no-repeat;
  background-position: center;
}
.not-browser .error-title {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  color: #3f3f3f;
  margin-top: 30px;
  border-bottom: 1px solid #e1e3e4;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.not-browser .error-title .sub {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #5f5f60;
}
.not-browser .error-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #5f5f60;
  padding: 0 40px;
}
.not-browser .button {
  margin-top: 70px;
}
.not-browser .button a {
  display: inline-block;
  background: #5f5f60;
  color: #fff;
  font-size: 14px;
  line-height: 35px;
  padding: 0 15px;
  font-weight: 700;
}
.not-browser .button a:hover {
  background: #3f3f3f;
}
.not-browser .btn {
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
  background: #47a9de;
  color: #ffffff;
  padding: 0 20px;
}
/* --------------------------------------------------------- //Browser ------------------------------------------------------------------ */
