#container_main{min-height: 1500px; position: relative; z-index: 2; overflow: hidden;}

.inr-c2{width: 1646px;margin-left: auto;margin-right: auto;position: relative;}

@media screen and (max-width: 840px) {
  .inr-c2{width: auto;margin-left: 5vw;margin-right: 5vw;}
}

.spot.main {
  position: relative;
  z-index: 0;
  /* margin-bottom: 100px; */
}
.spot.main .bg {
  width: 100%;
  height: 100vh;
  background: url(../images/main/spot_main1.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.spot.main .lst.n1 .bg {
  background-image: url(../images/main/spot_main1.jpg);
}
.spot.main .lst.n2 .bg {
  background-image: url(../images/main/spot_main2.jpg);
}
.spot.main .lst.n3 .bg {
  background-image: url(../images/main/spot_main3.jpg);
}

.spot.main .cont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.spot.main .inr-c {
  height: 100%;
}
.spot.main .inr-c:after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: "";
}
.spot.main .inr-c .fz {
  padding-bottom: 90px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  text-align: left;
}
.spot.main .h1 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.2;
}
.spot.main .t1 {
  margin-top: 6px;
  font-size: 24px;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
}
.spot.main .bx-controls {
  display: none;  
  position: absolute;
  left: 50%;
  bottom: 29%;
  z-index: 60;
  width: 1200px;
  margin-left: -600px;
  padding-left: 140px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.spot.main .bx-controls > * {
  display: inline-block;
  vertical-align: middle;
}
.spot.main .bx-controls .bx-controls-direction {
  position: absolute;
  left: 0;
  top: 0;
}
.spot.main .bx-controls .bx-controls-direction .bx-prev,
.spot.main .bx-controls .bx-controls-direction .bx-next {
  width: 49px;
  height: 49px;
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: url() 0 0 no-repeat;
}
.spot.main .bx-controls .bx-controls-direction .bx-prev {
  display: inline-block;
  background-image: url(../images/main/btn_prev1.png);
  margin-right: 10px;
}
.spot.main .bx-controls .bx-controls-direction .bx-next {
  display: inline-block;
  background-image: url(../images/main/btn_next1.png);
}
.spot.main .bx-controls .bx-controls-direction .bx-prev:hover {
  background-image: url(../images/main/btn_prev1_ovr.png);
}
.spot.main .bx-controls .bx-controls-direction .bx-next:hover {
  background-image: url(../images/main/btn_next1_ovr.png);
}
.spot.main .bx-controls .bx-pager {
  padding-top: 19px;
}
.spot.main .bx-controls .bx-pager-item {
  float: left;
  width: 147px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
.spot.main .bx-controls .bx-pager-item a {
  display: block;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  line-height: 0;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.spot.main .bx-controls .bx-pager-item a.active {
  opacity: 1;
}

.spot.main .arr{position:absolute;left:0;bottom: 70px;width:100%;z-index: 60;text-align: center; font-size:0;}
.spot.main .arr span{
  display:inline-block;
    -webkit-animation: slide-in-blurred-top 1s ease-out infinite alternate ;
            animation: slide-in-blurred-top 1s ease-out infinite alternate ;
}

.spot.main .pageing{color:#fff;position:absolute;left:0;bottom:70px;z-index:65;width: 100%;}
.spot.main .pageing > .inr-c{display:flex;align-items: center;}
.spot.main .pageing .total{margin-right: 15px;font-size: 24px;font-weight:200;}
.spot.main .pageing .total .current{font-weight:500;}
.spot.main .pageing .total .total{}
.spot.main .pageing .direction{margin-right: 7px;}
.spot.main .pageing .direction button{width:41px;height:41px;color:#fff;font-size: 20px;border:2px #fff solid;border-radius:50%;display:inline-flex;justify-content: center;align-items: center;line-height: 1;margin-right: 5px;}
.spot.main .pageing .direction button:hover{background-color: #fff; color: #000;}
.spot.main .pageing .play{}
.spot.main .pageing .play .btn{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  width:41px;
  height:41px;
  color: #101010;
  font-size: 15px;
  border:2px #fff solid;
  border-radius:50%;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background: #fff;
}
.spot.main .pageing .play .stop:after{content:"\eaaf";}
.spot.main .pageing .play .play:after{content: "\eabf";}
@media screen and (max-width: 1280px) {
  .spot.main .bg {
    height: 670px;
  }
  .spot.main .inr-c .fz {
    padding-bottom: 50px;
  }
  .spot.main .bx-controls .bx-controls-direction {
    left: 30px;
  }
  .spot.main .bx-controls {
    left: 0%;
    bottom: 27%;
    width: 100%;
    margin-left: 0;
    padding-left: 178px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .spot.main .h1 {
    font-size: 3.4em;
  }
}
@media screen and (max-width: 1280px) {
  .spot.main .h1 {
    font-size: 2.8em;
  }
  .spot.main .t1 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 840px) {
  .spot.main .lst{height: 100vh;}
  .spot.main .h1 {font-size: 8vw;}
  .spot.main .bg {height: 100vh;}
  .spot.main .lst .bg{background-position: center;}
  .spot.main .lst.n1 .bg { background-image: url(../images/main/spot1_mo.jpg);}
  .spot.main .lst.n2 .bg {background-image: url(../images/main/spot2_mo.jpg);}
  .spot.main .lst.n3 .bg {background-image: url(../images/main/spot3_mo.jpg);}
  .spot.main .arr{bottom: 44vw;}
  .spot.main .arr span img{ width:9vw;}
  .spot.main {margin-bottom: 0;}
  
  .spot.main .inr-c .fz {
    width: 91%;
    padding-bottom: 160px;
    padding-bottom: 26.66666667vw;
  }
  
  .spot.main .t1 {
    margin-top: 5.166667vw;
    font-size: 7.166667vw;
  }
  .spot.main .bx-controls {
    position: absolute;
    left: 0;
    bottom: 29%;
    z-index: 60;
    width: 100%;
    margin-left: 0;
    padding-left: 170px;
    padding-left: 28.33333333vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .spot.main .bx-controls .bx-controls-direction {
    position: absolute;
    left: 30px;
    left: 5vw;
  }
  .spot.main .bx-controls .bx-controls-direction .bx-prev,
  .spot.main .bx-controls .bx-controls-direction .bx-next {
    width: 49px;
    width: 8.16666667vw;
    height: 49px;
    height: 8.16666667vw;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .spot.main .bx-controls .bx-controls-direction .bx-prev {
    margin-right: 10px;
    margin-right: 1.66666667vw;
  }
  .spot.main .bx-controls .bx-controls-direction .bx-prev:hover {
    background-image: url(../images/main/btn_prev1_ovr.png);
  }
  .spot.main .bx-controls .bx-controls-direction .bx-next:hover {
    background-image: url(../images/main/btn_next1_ovr.png);
  }
  .spot.main .bx-controls .bx-pager {
    padding-top: 20px;
    padding-top: 3.33333333vw;
  }
  .spot.main .bx-controls .bx-pager-item {
    width: 80px;
    width: 13.33333333vw;
  }

  .spot.main .pageing{left:0;bottom: 12vw;}
  .spot.main .pageing > .inr-c{}
  .spot.main .pageing .total{margin-right: 3vw;font-size: 6vw;}
  .spot.main .pageing .total .current{}
  .spot.main .pageing .total .total{}
  .spot.main .pageing .direction{margin-right: 2vw;}
  .spot.main .pageing .direction button{width: 10vw;height: 10vw;font-size: 4.3vw;margin-right: 1.4vw;}
  .spot.main .pageing .direction button:hover{in}
  .spot.main .pageing .play .btn{
    width:10vw;
    height:10vw;
    font-size: 4.3vw;
  }



}



.main-page .bg1{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; z-index: 0; }



.p_cate{font-size: 22px;margin-bottom: 55px;line-height: 1;font-weight: 600;color: #e60012;}
.p_h1{font-size: 50px;line-height: 1.4;font-weight: 600;color: #1c1c1c;letter-spacing: -0.09em;word-break: keep-all;}
.p_h1.c2{color: #fff;}

@media screen and (max-width: 840px) {
  .p_cate{font-size: 5vw;margin-bottom: 8vw;}
  .p_h1{font-size: 7.7vw;line-height: 1.4;}
}

.main-page.news{position: relative;min-height: 550px;padding: 160px 0 180px;z-index: 1;}
.main-page.news .inr-c{position:relative;}
.main-page.news .top{position: relative; z-index: 1; margin-bottom: 83px;}
.main-page.news .top .more{position:absolute; right:0; bottom:0;}
@media screen and (max-width: 840px) {
  .main-page.news{position: relative;min-height: auto;padding: 12vw 0 12vw;z-index: 1;}
  .main-page.news .inr-c{position:relative;}
  .main-page.news .top{position: relative;z-index: 1;margin-bottom: 14vw;}
  .main-page.news .top .more{position: relative;right:0;bottom:0;margin-top: 6vw;}
  .main-page.news .inr-c2{margin:0; margin-left:5vw;}
}

.btn_more1{
  font-size: 16px;display: inline-flex;align-items: center;font-weight: 600;color: #1c1c1c;
      -webkit-transition: color 0.5s ease;
-moz-transition: color 0.5s ease;
-o-transition: color 0.5s ease;
transition: color 0.5s ease;
}
.btn_more1.c2{color: #fff;}
.btn_more1 .t{}
.btn_more1 .arr{font-size:0;height: 16px;position:relative;display:flex;align-items: center;margin-left: 8px;}
.btn_more1 .arr .line{ 
    width:63px; height:2px; background:#1c1c1c;
    -webkit-transition: background 0.5s ease;
-moz-transition: background 0.5s ease;
-o-transition: background 0.5s ease;
transition: background 0.5s ease;
}
.btn_more1.c2 .arr .line{ background:#fff;}
.btn_more1 .arr i{
    font-size: 18px;position: absolute;left: 60%; top: -1px;
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;

}

.btn_more1:hover{color:#e60012;}
.btn_more1:hover .arr .line{ background:#e60012;}
.btn_more1:hover .arr i{left: 80%; color:#e60012;}

@media screen and (max-width: 840px) {
  .btn_more1{font-size: 4vw;}
  .btn_more1 .arr{font-size:0;height: 16px;margin-left: 3vw;}
  .btn_more1 .arr .line{width: 16vw;height:2px;}
  .btn_more1 .arr i{
      left: 60%;
  }
  .btn_more1:hover .arr i{left: 90%; color:#e60012;}
}

.wrap_rollring4{}
.wrap_rollring4 .inner_rolling4{}
.wrap_rollring4 .inner_rolling4 .swiper-container{}
.wrap_rollring4 .inner_rolling4 .swiper-container .swiper-wrapper{}
.wrap_rollring4 .item{position:relative;box-sizing:border-box;background:rgba(255,255,255,0.9);}
.wrap_rollring4 .item:nth-child(3n+1):after{display:none;}

.wrap_rollring4 .item .cont{-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;box-sizing:border-box;padding: 38px 48px;border-radius:20px;}
.wrap_rollring4 .item .cont .p_cate{margin-bottom: 34px;font-size: 16px;}
.wrap_rollring4 .item .cont .h1{overflow:hidden;height: 84px;font-size: 26px;font-weight: 600;letter-spacing: -0.04em;line-height: 40px;color: #1c1c1c;}
.wrap_rollring4 .item .cont .t1{margin-top: 8px;overflow:hidden;height: 54px;line-height: 26px;letter-spacing: -0.03em;color: #888888;}
.wrap_rollring4 .item .cont .date{margin-top: 24px;color:#999999;text-align: right;}
.wrap_rollring4 .item .cont .more{margin-top:70px;}
.wrap_rollring4 .pageing .swiper-button-prev2,
.wrap_rollring4 .pageing .swiper-button-next2{
  position:absolute;
  width:52px;
  height:52px;
  background:#1c1c1c;
  color:#fff;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index:4;
  top:50%;
  margin-top:-26px;
  cursor: pointer;
}
.wrap_rollring4 .pageing .swiper-button-prev2{left: -30px;}
.wrap_rollring4 .pageing .swiper-button-next2{right: -30px;}
.wrap_rollring4 .pageing .swiper-button-prev2:hover,
.wrap_rollring4 .pageing .swiper-button-next2:hover{background:#e60012;}

@media screen and (max-width: 840px) {
  .wrap_rollring4{}
  .wrap_rollring4 .inner_rolling4{}
  .wrap_rollring4 .inner_rolling4 .swiper-container{}
  .wrap_rollring4 .inner_rolling4 .swiper-container .swiper-wrapper{}
  .wrap_rollring4 .item{position:relative;box-sizing:border-box;background:rgba(255,255,255,0.9);}
  .wrap_rollring4 .item:nth-child(3n+1):after{display:none;}
  
  .wrap_rollring4 .item .cont{-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;box-sizing:border-box;padding: 7vw 10vw;}
  .wrap_rollring4 .item .cont .p_cate{margin-bottom: 4vw;font-size: 4.4vw;}
  .wrap_rollring4 .item .cont .h1{overflow:hidden;height: 19vw;font-size: 6vw;font-weight: 600;letter-spacing: -0.04em;line-height: 9vw;color: #1c1c1c;}
  .wrap_rollring4 .item .cont .t1{margin-top: 5vw;overflow:hidden;height: 15vw;line-height: 7vw;letter-spacing: -0.03em;color: #888888;}
  .wrap_rollring4 .item .cont .date{margin-top: 5vw;}
  .wrap_rollring4 .item .cont .more{margin-top:70px;}
  .wrap_rollring4 .pageing .swiper-button-prev2,
  .wrap_rollring4 .pageing .swiper-button-next2{
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
    margin-top: -5vw;
    cursor: pointer;
  }
  .wrap_rollring4 .pageing .swiper-button-prev2{left: -5vw;}
  .wrap_rollring4 .pageing .swiper-button-next2{right: 8vw;}
  .wrap_rollring4 .pageing .swiper-button-prev2:hover,
  .wrap_rollring4 .pageing .swiper-button-next2:hover{background:#e60012;}
}


/* 

@media screen and (max-width: 1320px) {
  .wrap_rollring4 .item:nth-child(1n+1):after{display:block;}
  .wrap_rollring4 .item:nth-child(2n+1):after{display:none;}
}
@media screen and (max-width: 840px) {
  .banner_rolling_main2{display:block;width: auto;padding:12vw 0;height: auto;overflow: hidden;}
  .banner_rolling_main2 .inr-c{width:auto; margin-right: auto;}
  .banner_rolling_main2 .inr-c .btns_view_main{margin-right:4vw;}
  .wrap_rollring4 .item{padding:2vw;}
  .wrap_rollring4 .item:after{left:-1px;}
  .wrap_rollring4 .swiper-slide-active.item .cont{background-color:#fff; -webkit-box-shadow: 3px 5px 17px -7px rgba(0,0,0,0.59); box-shadow: 3px 5px 17px -7px rgba(0,0,0,0.59);}
  .wrap_rollring4 .item:nth-child(1n+1):after{display:block;}
  .wrap_rollring4 .item .cont{ padding:5vw; border-radius:3vw;}
  .wrap_rollring4 .item .cont .h1{overflow:hidden;height: 15.2vw;}
  .wrap_rollring4 .item .cont .t1{margin-top:45px;overflow:hidden;height: 21vw;}
  .wrap_rollring4 .item .cont .date{margin-top:55px; color:#999999;}
  .wrap_rollring4 .item .cont .more{margin-top:70px;}
  .wrap_rollring4 .item:hover .cont{background-color:#fff;}
  .banner_rolling_main2 .pageing{text-align: center;margin-top: 7vw;display: flex;justify-content: center;position: relative;z-index: 1;}
} */



.wrap_talent{padding: 130px 0;}
.wrap_talent .p_cate{}
.wrap_talent .p_h1{
    letter-spacing: -0.08em;
}
.wrap_talent .more {
    margin-top: 45px;
}

.wrap_talent .inr-c{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrap_talent .inr-c > .col{}
.wrap_talent .inr-c > .col.lft{
    width: 500px;
}
.wrap_talent .inr-c > .col.rgh{
    width: calc(100% - 550px);
    max-width: 767px;
}

.wrap_talent .list1{
    border-top: 2px #1c1c1c solid;
}
.wrap_talent .list1 li{
    padding: 23px 40px 23px 23px;
    border-bottom: 1px #eaeaea solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap_talent .list1 .t{
    font-size: 22px;
    font-weight: 600;
    color: #1c1c1c;
    width: calc(100% - 120px);
    line-height: 1.4;
    word-break: keep-all;
}
.wrap_talent .list1 .rgh{}
.wrap_talent .list1 .ing,
.wrap_talent .list1 .end{
    width: 80px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #ddd solid;
    border-radius: 500px;
  font-weight:500;
}
.wrap_talent .list1 .ing{
  border: 1px #f8b7bc solid;
  color:#e60012;
}
.wrap_talent .list1 .end{
  background:#bababa;
  color:#fff;
  border-color:#bababa;
}

@media screen and (max-width: 840px) {

  .wrap_talent{padding: 15vw 0;}
  .wrap_talent .p_cate{}
  .wrap_talent .p_h1{
      letter-spacing: -0.08em;
  }
  .wrap_talent .more {
      margin-top: 8vw;
  }

  .wrap_talent .inr-c{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0;
  }
  .wrap_talent .inr-c > .col{}
  .wrap_talent .inr-c > .col.lft{
      width: auto;
      margin: 0 5vw;
  }
  .wrap_talent .inr-c > .col.rgh{
      width: 100%;
      max-width: none;
      margin-top: 11vw;
  }

  .wrap_talent .list1{
  }
  .wrap_talent .list1 li{
      padding: 4vw 5vw;
      border-bottom: 1px #eaeaea solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .wrap_talent .list1 .t{
      font-size: 4.6vw;
      width: 68vw;
  }
  .wrap_talent .list1 .rgh{}
  .wrap_talent .list1 .ing,
  .wrap_talent .list1 .end{
      width: 16.3vw;
      height: 8.8vw;
      font-size: 3.8vw;
  }
  .wrap_talent .list1 .ing{
    border: 1px #f8b7bc solid;
    color:#e60012;
  }
  .wrap_talent .list1 .end{
    background:#bababa;
    color:#fff;
    border-color:#bababa;
  }

}



.wrap_ir{
    display: flex;
    flex-wrap: wrap;
}
.wrap_ir .inr-c{}
.wrap_ir .col{
    width: 50%;
    flex: none;
    display: flex;
    align-items: center;
    padding: 60px 0 83px;
}
.wrap_ir .col.lft{position: relative;justify-content: flex-end;}
.wrap_ir .col.rgh{
    background: #071f5f;
}

.wrap_ir .cont_ir{
    width: 480px;
    margin-right: 220px;
    position: relative;
    z-index: 1;
    color: #fff;
}
.wrap_ir .cont_ir .box1{
  display: flex;
  justify-content: space-between;
}
.wrap_ir .cont_ir .cate{
    font-size: 22px;
    font-weight: 800;
    color: #e60012;
    margin-bottom: 19px;
}
.wrap_ir .cont_ir .lft{}
.wrap_ir .cont_ir .lft .current{
    font-size: 80px;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
}
.wrap_ir .cont_ir .lft .in{
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 36px;
}
.wrap_ir .cont_ir .lft .in > * {}
.wrap_ir .cont_ir .lft .in .t1{margin-right:15px;}
.wrap_ir .cont_ir .lft .in .down{
    font-size: 0;
}
.wrap_ir .cont_ir .lft .in .up{}
.wrap_ir .cont_ir .lft .in .t1{
}
.wrap_ir .cont_ir .lft .in .t2{
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
  margin-left:3px;
}
.wrap_ir .cont_ir .lft .in .t3{
    font-style: italic;
    font-size: 20px;
    font-weight:300;
  margin-left:20px

}

.wrap_ir .lst{
    font-size: 18px;
}
.wrap_ir .lst p{
    display: flex;
    align-items: center;
    margin-top: 9px;
}
.wrap_ir .lst p .h{
    width: 100px;
}
.wrap_ir .lst p .t{font-size: 1.2em;font-weight: 200;}

@media screen and (max-width: 840px) {
  .wrap_ir{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
  .wrap_ir .inr-c{}
  .wrap_ir .col{
      width: auto;
      flex: none;
      display: flex;
      align-items: center;
      padding: 10vw 5vw 10vw;
      flex-direction: column;
  }
  .wrap_ir .col.lft{position: relative;justify-content: flex-end;}
  .wrap_ir .col.lft .bg1{background-position:90%;}
  .wrap_ir .col.rgh{
      background: #071f5f;
      padding: 15vw 5vw;
  }

  .wrap_ir .cont_ir{
      width: 90vw;
      margin-right: 0;
      position: relative;
      z-index: 1;
      color: #fff;
  }
  .wrap_ir .cont_ir .box1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .wrap_ir .cont_ir .cate{
      font-size: 5vw;
      margin-bottom: 5vw;
  }
  .wrap_ir .cont_ir .lft{
    margin-left: 0vw;
}
  .wrap_ir .cont_ir .lft .current{
      font-size: 22vw;
  }
  .wrap_ir .cont_ir .lft .in{
      font-size: 4vw;
      display: flex;
      align-items: center;
      margin-top: 5vw;
  }
  .wrap_ir .cont_ir .lft .in > * {}
  .wrap_ir .cont_ir .lft .in .t1{margin-right:15px;}
  .wrap_ir .cont_ir .lft .in .down{
      font-size: 0;
  }
  .wrap_ir .cont_ir .lft .in .up{}
  .wrap_ir .cont_ir .lft .in .t1{
  }
  .wrap_ir .cont_ir .lft .in .t2{
      font-size: 30px;
      font-style: italic;
      font-weight: 500;
    margin-left:3px;
  }
  .wrap_ir .cont_ir .lft .in .t3{
      font-style: italic;
      font-size: 20px;
      font-weight:300;
    margin-left:20px

  }

  .wrap_ir .lst{
      font-size: 5vw;
      margin-top: 10vw;
      margin-left: 0;
  }
  .wrap_ir .lst p{
      display: flex;
      align-items: center;
      margin-top: 9px;
  }
  .wrap_ir .lst p .h{
      width: 100px;
  }
  .wrap_ir .lst p .t{font-size: 1.2em;font-weight: 200;}
}

.lst_brochure{
    color: #fff;
    margin-left:70px;
    display:flex;
    align-items: flex-end;
}
.lst_brochure a{color:#fff;}
.lst_brochure .thumb{}
.lst_brochure .cont{
    margin-left: 60px;
}
.lst_brochure .cont .h1{
    font-size: 35px;
    letter-spacing: -0.05em;
    font-weight: 500;
    margin-bottom: 15px;
}
.lst_brochure .cont .t1{
    color: #c3c7d5;
}
.lst_brochure .cont .btns{
    margin-top: 78px;
}

@media screen and (max-width: 840px) {
  
  .lst_brochure{
      margin-left: 0;
  }
  .lst_brochure a{color:#fff;}
  .lst_brochure .thumb{}
  .lst_brochure .cont{
      margin-left: 8vw;
      max-width: 45vw;
  }
  .lst_brochure .cont .h1{
      font-size: 5vw;
      letter-spacing: -0.05em;
      font-weight: 500;
      margin-bottom: 15px;
  }
  .lst_brochure .cont .t1{
  font-size: 4.5vw;
  word-break: keep-all;
  }
  .lst_brochure .cont .btns{
      margin-top: 12vw;
  }

}

.btn_type2{
    min-width: 160px;
    display: inline-flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 18px 30px;
    border: 1px #4f5d84 solid;
    border-radius: 200px;
    font-weight: 500;
    line-height: 1;
}

@media (hover: hover) {
  .btn_type2:hover{background:#2f52ae; }
}


@media screen and (max-width: 840px) {
  .btn_type2{
      min-width: 38vw;
      display: inline-flex;
      height: auto;
      align-items: center;
      justify-content: space-between;
      padding: 3vw 4vw;
      border: 1px #4f5d84 solid;
      border-radius: 50vw;
      font-size: 4vw;
  }

}

.wrap_rolling5{
    margin: 0 auto;
}
.wrap_rolling5 .tab{margin-bottom: 46px;font-size: 20px;}
.wrap_rolling5 .tab a{color: #adadad;letter-spacing: -0.03em;border-bottom: 3px #fff solid;padding-bottom: 2px;display: block; font-weight:500;}
.wrap_rolling5 .tab ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.wrap_rolling5 .tab li{
    margin-left: 45px;
}
.wrap_rolling5 .tab li a{}
.wrap_rolling5 .tab li a:hover{color:#e60012;}
.wrap_rolling5 .tab li a span{}
.wrap_rolling5 .tab li.on a{color:#e60012; border-color:#e60012;}


.wrap_rolling5 .rollcontainer{display: flex;justify-content: flex-end;margin-right: 30px;position: relative;}
.wrap_rolling5 .rollcontainer .cont_txt{position: absolute;left: 45px;top: 60px;z-index: 1;}
.wrap_rolling5 .rollcontainer .cont_txt .lst{display:none;color: #1c1c1c;}
.wrap_rolling5 .rollcontainer .cont_txt .lst.on{display: block;}
.wrap_rolling5 .rollcontainer .cont_txt .lst .cate{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.04em;
}
.wrap_rolling5 .rollcontainer .cont_txt .lst .h1{
    font-size: 140px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -0.05em;
    margin-left: -9px;
}
.wrap_rolling5 .rollcontainer .cont_txt .lst .t1{
    font-size: 20px;
    line-height: 1.6;
    margin-top: 56px;
    color: #888888;
    font-weight: 300;
    letter-spacing: -0.07em;
    max-width: 467px;
}
.wrap_rolling5 .rollcontainer .cont_txt .lst .more{
    margin-top: 48px;
}

.swiper-container{overflow: hidden;}
.wrap_rolling5 .rollcontainer .wrap_swiper{width: 1054px;position: relative;}
.wrap_rolling5  .item{}
.wrap_rolling5  .item .img{width: 1104px; height: 610px; background-size: cover; background-position: center; background-repeat: no-repeat;}

.wrap_rolling5 .wrap_next{width: 330px;position: absolute;right: -110px;top: 215px;}
.wrap_rolling5 .wrap_next .item .img{width: 330px; height: 330px; background-size: cover; background-position: center; background-repeat: no-repeat;}
.wrap_rolling5 .pageing{position:absolute;left: -52px;bottom: 0px;z-index: 20;}
.wrap_rolling5 .pageing > .inner{display:flex;}
.wrap_rolling5 .pageing > .inner > div{width:52px;height: 52px;display: flex;justify-content: center;align-items: center;background: #1c1c1c;color: #fff;font-size: 20px; cursor:pointer;}
.wrap_rolling5 .pageing > .inner > div:hover{background:#e60012;}
.wrap_rolling5 .pageing .swiper-button-prev2{}
.wrap_rolling5 .pageing .swiper-button-next2{}

@media screen and (max-width: 840px) {
  .wrap_rolling5 .tab{display:none;}
  .wrap_rolling5 .rollcontainer{display: flex;justify-content: flex-end;margin-right: 0;position: relative;flex-direction: column;}
  .wrap_rolling5 .rollcontainer .cont_txt{position: relative;left: 0;top: 0;margin-top: 10vw;margin-left: 5vw;margin-right: 5vw;}
  .wrap_rolling5 .rollcontainer .cont_txt .lst{display:none;color: #1c1c1c;}
  .wrap_rolling5 .rollcontainer .cont_txt .lst.on{display: block;}
  .wrap_rolling5 .rollcontainer .cont_txt .lst .cate{
      font-size: 5vw;
  }
  .wrap_rolling5 .rollcontainer .cont_txt .lst .h1{
      font-size: 15vw;
      margin-left: -0.9vw;
      margin-top: 4vw;
  }
  .wrap_rolling5 .rollcontainer .cont_txt .lst .t1{
      font-size: 4.6vw;
      margin-top: 7vw;
      max-width: none;
      word-break: keep-all;
  }
  .wrap_rolling5 .rollcontainer .cont_txt .lst .t1 br{display:none; }
  .wrap_rolling5 .rollcontainer .cont_txt .lst .more{
      margin-top: 6vw;
  }
  
  .swiper-container{overflow: hidden;}
  .wrap_rolling5 .rollcontainer .wrap_swiper{width: 90%;position: relative;margin-right: 5%;}
  .wrap_rolling5  .item{}
  .wrap_rolling5  .item .img{width: 100%;height: 56.1vw;background-size: cover;background-position: center;background-repeat: no-repeat;}
  
  .wrap_rolling5 .wrap_next{width: 34.5vw;right: -15vw;top: auto;bottom: 5vw;}
  .wrap_rolling5 .wrap_next .item .img{width: 34.5vw;height: 34.5vw;background-size: cover;background-position: center;background-repeat: no-repeat;}
  .wrap_rolling5 .pageing{left: 0;}
  .wrap_rolling5 .pageing > .inner{}
  .wrap_rolling5 .pageing > .inner > div{width: 10vw;height: 10vw;font-size: 4vw;}
  .wrap_rolling5 .pageing > .inner > div:hover{background:#e60012;}
  .wrap_rolling5 .pageing .swiper-button-prev2{}
  .wrap_rolling5 .pageing .swiper-button-next2{}
  
}

.wrap_rolling6{position: relative;display: flex;}
.wrap_rolling6 .col_lft,
.wrap_rolling6 .col_rgh{height: 602px;position:relative;}
.wrap_rolling6 .wrap_swiper{width: 100%; position: relative;}
.wrap_rolling6  .item{}
.wrap_rolling6  .item .img{width: 100%; height: 530px; background-size: cover; background-position: center; background-repeat: no-repeat;}
.wrap_rolling6 .col_lft{width:calc(100% - 815px);}
.wrap_rolling6 .col_lft:after{position:absolute;right:0;bottom:0;width: calc(100% - 70px);height:100%;background:#0d143b;content:""}

.wrap_rolling6 .col_rgh{margin-top:65px;width: 815px;background: #122b6d;color: #fff;box-sizing: border-box;height: 537px;display:flex;}
.wrap_rolling6 .tab{width:140px;}
.wrap_rolling6 .tab li{border-top:1px #112d6f solid; background: #0d143b;}
.wrap_rolling6 .tab li a{display:flex;justify-content: center;align-items: center;height: 178px;color: #fff;flex-direction: column; opacity:0.4}
.wrap_rolling6 .tab li a .t{font-size:20px; display:block; margin-top:10px;}
.wrap_rolling6 .tab li:hover,
.wrap_rolling6 .tab li.on{background: #122b6d;}
.wrap_rolling6 .tab li.on a{opacity:1;}
.wrap_rolling6 .tab_area{display: none;width: 85%;}
.wrap_rolling6 .tab_area.on{display:block;}
.wrap_rolling6 .cont_tab{width:100%;height: 537px;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}

.wrap_rolling6 .tab_area .t1{
    font-size: 30px;
    letter-spacing: -0.05em;
    line-height: 1;
    font-weight: 500;
}
.wrap_rolling6 .tab_area .t2{
    font-size: 70px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 43px;
    color: #8aa2e1;
}
.wrap_rolling6 .tab_area .t3{
    font-size: 26px;
    line-height: 1.6;
    margin-top: 46px;
}


.wrap_rolling6 .wrap_next{width: 330px;position: absolute;right: -110px;top: 215px;}
.wrap_rolling6 .wrap_next .item .img{width: 330px; height: 330px; background-size: cover; background-position: center; background-repeat: no-repeat;}
.wrap_rolling6 .pageing{position:absolute;right: 0;bottom: 0px;z-index: 20;}
.wrap_rolling6 .pageing > .inner{display:flex;}
.wrap_rolling6 .pageing > .inner > div{width:52px;height: 52px;display: flex;justify-content: center;align-items: center;background: #1c1c1c;color: #fff;font-size: 20px; cursor:pointer;}
.wrap_rolling6 .pageing > .inner > div:hover{background:#e60012;}
.wrap_rolling6 .pageing .swiper-button-prev2{}
.wrap_rolling6 .pageing .swiper-button-next2{}

@media screen and (max-width: 840px) {
  .wrap_rolling6{position: relative;display: flex;flex-direction: column;margin: 0;}
  .wrap_rolling6 .col_lft,
  .wrap_rolling6 .col_rgh{height: 602px;position:relative;}
  .wrap_rolling6 .wrap_swiper{width: 100%; position: relative;}
  .wrap_rolling6  .item{}
  .wrap_rolling6  .item .img{width: 100%;height: 70vw;background-size: cover;background-position: center;background-repeat: no-repeat;}
  .wrap_rolling6 .col_lft{width: 100%;height: auto;}
  .wrap_rolling6 .col_lft:after{position:absolute;right:0;bottom:0;width: calc(100% - 70px);height:100%;background:#0d143b;content:"";display: none;}

  .wrap_rolling6 .col_rgh{margin-top: 0;width: auto;height: auto;display:flex;}
  .wrap_rolling6 .tab{
    display: none;
}
  .wrap_rolling6 .tab li{border-top:1px #112d6f solid; background: #0d143b;}
  .wrap_rolling6 .tab li a{display:flex;justify-content: center;align-items: center;height: 178px;color: #fff;flex-direction: column; opacity:0.4}
  .wrap_rolling6 .tab li a .t{font-size:20px; display:block; margin-top:10px;}
  .wrap_rolling6 .tab li:hover,
  .wrap_rolling6 .tab li.on{background: #122b6d;}
  .wrap_rolling6 .tab li.on a{opacity:1;}
  .wrap_rolling6 .tab_area{display: none;width: 90vw;margin: 5vw;}
  .wrap_rolling6 .tab_area.on{display:block;}
  .wrap_rolling6 .cont_tab{width:100%;height: auto;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;padding: 10vw 0;}

  .wrap_rolling6 .tab_area .t1{
      font-size: 5.3vw;
  }
  .wrap_rolling6 .tab_area .t2{
      font-size: 11vw;
      margin-top: 6vw;
  }
  .wrap_rolling6 .tab_area .t3{
      font-size: 4.3vw;
      line-height: 1.6;
      margin-top: 5vw;
  }


  .wrap_rolling6 .wrap_next{width: 330px;position: absolute;right: -110px;top: 215px;}
  .wrap_rolling6 .wrap_next .item .img{width: 330px; height: 330px; background-size: cover; background-position: center; background-repeat: no-repeat;}
  .wrap_rolling6 .pageing{position:absolute;right: 0;bottom: 0px;z-index: 20;}
  .wrap_rolling6 .pageing > .inner{display:flex;}
  .wrap_rolling6 .pageing > .inner > div{width: 10vw;height: 10vw;font-size: 4vw;}
  .wrap_rolling6 .pageing > .inner > div:hover{background:#e60012;}
  .wrap_rolling6 .pageing .swiper-button-prev2{}
  .wrap_rolling6 .pageing .swiper-button-next2{}
}


.main-page.about,
.main-page.business{padding: 150px 0;}
.main-page.business > .top{margin-bottom:90px;}
.main-page.esg{ padding-bottom:150px;}
.main-page.about{margin-bottom: 227px;}

@media screen and (max-width: 840px) {
  .main-page.about,
  .main-page.business{padding: 13vw 0;}
  .main-page.business > .top{margin-bottom:10vw;}
  .main-page.esg{padding-bottom: 0;}
  .main-page.about{margin-bottom: 16vw;padding-bottom: 0;}
}

.main-page.about .top .inr-c{position: relative;padding-right: 210px;box-sizing: border-box;}
.main-page.about .top .more{position: absolute; right: 0; bottom: 0;}
.main-page.about .lst{margin-top:130px; position:relative; height:753px;}
.main-page.about .lst .item .img{position:absolute;left:0;top:0;width:100%;height:100%;background-repeat: no-repeat;background-size: cover;background-position: center;}
.main-page.about .lst .item{position:absolute; left:0; top:0;}
.main-page.about .lst .cont{position:absolute;left:110px;bottom:40px;color:#fff;letter-spacing: -0.05em;}
.main-page.about .lst .cont .h1{font-size:100px;font-weight: 600;text-transform: uppercase; line-height:1;}
.main-page.about .lst .cont .t1{font-size:26px;font-weight: 400; margin-top:5px;}

.main-page.about .lst .item.n1{ width:calc(100% - 690px); height:690px;  z-index:3; }
.main-page.about .lst .item.n2{width:690px;height:460px;z-index:2;left:auto;right:0;top: 230px;}
.main-page.about .lst .item.n2 .cont{left:30px;}
.main-page.about .lst .item.n3{width: 750px;height:420px;z-index:1;left:auto;right: 270px;top: 680px;}
.main-page.about .lst .item.n3 .cont{left:30px;}

@media screen and (max-width: 840px) {
  .main-page.about .top .inr-c{position: relative;padding-right: 0;box-sizing: border-box;}
  .main-page.about .top .more{position: relative;right: 0;bottom: 0;margin-top: 6vw;}
  .main-page.about .lst{margin-top: 11vw;position:relative;height: auto;}
  .main-page.about .lst .item .img{position:absolute;left:0;top:0;width:100%;height:100%;background-repeat: no-repeat;background-size: cover;background-position: center;}
  .main-page.about .lst .item{position: relative;left:0;top:0;height: 76vw;}
  .main-page.about .lst .cont{left: 5vw;bottom: 3vw;width: 90vw;word-break: keep-all;}
  .main-page.about .lst .cont .h1{font-size: 15vw;font-weight: 600;text-transform: uppercase;line-height:1;}
  .main-page.about .lst .cont .t1{font-size: 5vw;font-weight: 400;margin-top: 2vw;}

  .main-page.about .lst .item.n1{width: 100%;z-index:3;height: 76vw;}
  .main-page.about .lst .item.n2{width: 100%;height: 76vw;z-index:2;left:auto;right:0;top: 0;}
  .main-page.about .lst .item.n2 .cont{left: 5vw;}
  .main-page.about .lst .item.n3{width: auto;z-index:1;left:auto;right: 0;top: 0;height: 76vw;}
  .main-page.about .lst .item.n3 .cont{left: 5vw;}

}

.main-page.esg .top{margin-bottom: 80px;}
.main-page.esg .top .inr-c{position: relative;}
.main-page.esg .top .more{position:absolute; right:0; bottom:-80px;}

@media screen and (max-width: 840px) {
  .main-page.esg .top{margin-bottom: 13vw;}
  .main-page.esg .top .inr-c{position: relative;}
  .main-page.esg .top .t1{margin-top:5vw;}
  .main-page.esg .top .more{position: relative;right:0;bottom: 0;margin-top: 11vw;}
}


.wrap_partners{ position: fixed; left: 0; top: 30px; z-index: 3; background-color: rgba(0, 0, 0, 0.8); width: 46px; height: 740px; backdrop-filter: blur(10px);  }
.wrap_partners.active{width: 590px; border-radius: 0 40px 40px 0;}
.wrap_partners > .inner{}
.wrap_partners .tab{
    display:flex;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 740px;
    position: absolute;
    left: 0px;
    bottom: -46px;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 0%;
    flex-wrap: wrap;
    text-align: center;
    z-index: 2;
    }
.wrap_partners .tab a{width: 20%;color: #fff;padding: 13px;font-size: 12px;box-sizing: border-box;}
.wrap_partners .tab a:hover,
.wrap_partners .tab a.on{background: #e50717;}
.wrap_partners .item{
}
.wrap_partners .item.n1{}
.wrap_partners .item.n2{}
.wrap_partners .item.n3{}
.wrap_partners .item.n4{}
.wrap_partners .item.n5{}

.wrap_partners .item > a{}
.wrap_partners .item > .cont{display: none;}
.wrap_partners .item.on > .cont{display: block;padding: 50px 20px 50px 90px;color: #fff;}
.wrap_partners .item > .cont .logo{
    margin-bottom: 40px;
}
.wrap_partners .item > .cont .h1{
    font-size: 36px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: -0.05em;
}
.wrap_partners .item > .cont .t1{
    padding-top: 30px;
    margin-top: 20px;
    position: relative;
    font-size: 18px;
    line-height: 1.5;
    z-index: 1;
}
.wrap_partners .item > .cont .t1:after{position:absolute; left:0; top:0; width:40px; height:5px; background:#e60014; content:""}
.wrap_partners .item > .cont .img{
    position: absolute;
    bottom: -210px;
    left: -20px;
    z-index: 0;
}
.wrap_partners .item.n2 > .cont .img{bottom: -107px;left: -20px;}
.wrap_partners .item.n3 > .cont .img{bottom: -150px;left: 40px;}
.wrap_partners .item.n4 > .cont .img{bottom: -80px;left: 80px;}
.wrap_partners .item.n5 > .cont .img{bottom: -130px;left: -20px;}
.wrap_partners .item > .cont .img img{max-width: none;}


@media screen and (max-width: 840px) {
 .wrap_partners{display: none;}
}


@-webkit-keyframes slide-in-blurred-top {
   0% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;

  }
  100% {
      -webkit-transform: translateY(-25px) scaleY(1.1) scaleX(0.92);
            transform: translateY(-25px) scaleY(1.1) scaleX(0.92);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(10);
            filter: blur(10);
    opacity: 0.5;
  }
}
@keyframes slide-in-blurred-top {
  0% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;

  }
  100% {
      -webkit-transform: translateY(-25px) scaleY(1.1) scaleX(0.92);
            transform: translateY(-25px) scaleY(1.1) scaleX(0.92);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(10);
            filter: blur(10);
    opacity: 0.5;
  }
}



