/*#header .m_top, #header .left { display: none;}
.view-m { display: none !important; }
.test_content{width: 100%; background-color: #ddd; height: 1500px;}
.test_button{position: absolute; left: 0; top: 0;}
.inr-c{max-width: 1200px; margin-left: auto; margin-right: auto;}

@media screen and (max-width: 840px) {

  .view-m { display: block !important;}
  .hide-m { display: none !important; }

}
*/
.wrap_sitemap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #112d6f;
  display: none;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background-image: url(../images/common/bg_sitemap.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.wrap_sitemap .bg2,
.wrap_sitemap .lang{display: none;}
.wrap_sitemap .top{position:absolute;width:100%;left:0;top:0;z-index:1;text-align:right;box-sizing: border-box;padding: 40px 70px 0;display: flex;justify-content: flex-end;align-items: center;}
.wrap_sitemap .h {
  position: absolute;
  left: 90px;
  top: 20px;
  z-index: 10;
}
.wrap_sitemap .inr-c {
  position: relative;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrap_sitemap .area.col {
  width: 220px;
  height: 100%;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  align-items: flex-start;
}
.wrap_sitemap .area.col.first {
  border-width: 0 1px;
}
.wrap_sitemap .area.col .inner {
  display: inline-block;
  text-align: left;
}
.wrap_sitemap .area.col h2 {
  margin-bottom: 50px;
  font-size: 38px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}
.wrap_sitemap .area.col li {
  margin-bottom: 25px;
}
.wrap_sitemap .area.col .dp3 > a:after{
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

  /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   content:"\eb49";
   display:inline-block;
   margin-left:6px;
   -webkit-transform: translate(22px, 5px);
   -moz-transform: translate(22px, 5px);
   -o-transform: translate(22px, 5px);
   -ms-transform: translate(22px, 5px);
   transform: translate(22px, 5px);
   position: absolute;
   right: 0;
   top: 0;
}
.wrap_sitemap .area.col .dp3.active > a:after{ content:"\eb2a";}
.wrap_sitemap .area.col .dep3{
  margin-top: 10px;
  display:none;
}
/*.wrap_sitemap .area.col .active .dep3{
  display:block;
}*/
.wrap_sitemap .area.col .dp3.active > a{color:#fff; }
.wrap_sitemap .area.col .dp3.active > a span{border-bottom:1px #fff solid; padding-bottom:3px;}
.wrap_sitemap .area.col .dep3 > ul{
  
}
.wrap_sitemap .area.col .dep3 > ul > li{
  margin-bottom: 3px;
}
.wrap_sitemap .area.col .dep3 > ul > li > a{
  font-size:16px;
  font-weight:400;
  padding-left: 20px;
  display:inline-block;
  position:relative;
}
.wrap_sitemap .area.col .dep3 > ul > li > a:after{position:absolute;left: 7px;top: 10px;width:3px;height:3px;background: #b5c0da;content:"";}
.wrap_sitemap .area.col .dep3 > ul > li > a:hover:after{ background:#fff;}
.wrap_sitemap .area.col li a {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: #b5c0da;
  position: relative;
}
.wrap_sitemap .area.col li a:hover {
  color: #fff;
}
.wrap_sitemap .bot{position: absolute;left: 0;bottom: 0;width: 100%;box-sizing: border-box;text-align: left;color: #8896b7;font-size: 12px;padding: 80px;letter-spacing: 0;display: flex;justify-content: space-between;}
.wrap_sitemap .btn_close {
  font-size: 44px;
  color: #fff;
  line-height: 1;
}
.wrap_sitemap .sns a{ margin-left:20px; opacity:0.5;}
.wrap_sitemap .sns a:hover{opacity:1;}

.btn_lang{display: inline-flex;color: #b5c0da;align-items: center;margin-right:50px;font-weight: 500;}
.btn_lang .lang{margin-right:10px;}
.btn_lang .arr{margin-left:20px; font-size:23px; margin-top:4px;}

.wrap_iscroll {
  width: 150px;
  height: 200px;
  overflow: hidden;
  background-color: red;
}
.wrap_iscroll .inner {
  width: 100px;
  background-color: #ddd;
}
.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fade-out {
  -webkit-animation: fade-out 0.3s ease-out both;
  animation: fade-out 0.3s ease-out both;
}

.wrap_sitemap p.num{display:none;}
@media screen and (max-width: 1280px) {
  .wrap_sitemap .bg2,
  .wrap_sitemap .lang{display: block;}
  .wrap_sitemap {align-items: flex-start;padding-top: 0;background-image: url(../images/common/bg_lnb_mo.jpg);background-size: cover;background-position: 50% 0;}
  .wrap_sitemap .top{padding: 30px 40px 0;}
  .wrap_iscroll2{overflow:auto; width:100%; height:100%;}
  .wrap_sitemap p.num{display:block; margin-bottom:10px; font-size:22px; font-weight:600; color:#fff;}
  .wrap_sitemap .inr-c {display: flex;justify-content: center;flex-direction: column;align-items: center;text-align: center;padding: 160px 0;margin:0;}
  .wrap_sitemap .area.col { width: auto; height:auto; display:block;  text-align: center; margin-bottom:40px;}
  .wrap_sitemap .area.col .inner {  text-align: center;}
  .wrap_sitemap .bot{display:none;}
  .wrap_sitemap .area.col h2 {margin-bottom: 22px;cursor:pointer;font-size:50px;font-weight: 800;letter-spacing: 0;}
  .wrap_sitemap .area.col li {margin-bottom: 15px;}
  .wrap_sitemap .area.col > .inner > ul{display:none;}
  .wrap_sitemap .area.col .dep3 > ul > li > a:after{display: none;}
  .wrap_sitemap .area.col{}
  .wrap_sitemap .btn_lang{display: none;}
  .wrap_sitemap .area.col .dep3 > ul{padding-top:3px;}
  .wrap_sitemap .area.col .dep3 > ul > li{margin-top:10px;}
  .wrap_sitemap .area.col .dep3 > ul > li > a{font-size:18px; padding-left: 0;}
  .wrap_sitemap .area.col li a{font-size:20px;}
  .wrap_iscroll2 .bg2{position: absolute;top: 280px;left: 0;}
  .wrap_iscroll2 .lang{position: absolute;left: 50px;top: 50px; z-index:10;}
  .wrap_iscroll2 .lang a{display:block; color:#fff; font-weight:600; font-size:24px; margin-bottom:40px; }
  .wrap_iscroll2 .lang a.on{color:#e60012;}
  .wrap_sitemap .btn_close {font-size: 60px;}
}
@media screen and (max-width: 840px) {
  .wrap_sitemap .top{padding: 4.7619vw 4.7619vw 0;}
  .wrap_iscroll2 .bg2{top: 31.2vw;}
  .wrap_iscroll2 .bg2 img{width: 21vw;}
  .wrap_iscroll2 .lang{position: absolute;left: 7.6190476190476195vw;top: 7.6190476190476195vw; z-index:10;}
  .wrap_iscroll2 .lang a{display:block; color:#fff; font-weight:600; font-size:4vw; margin-bottom:4.1vw; }
  .wrap_sitemap .btn_close {font-size: 10vw;}
  .wrap_sitemap .inr-c {padding: 20vw 0;}
  .wrap_sitemap .area.col {margin-bottom:5vw;}
  .wrap_sitemap p.num{margin-bottom:3vw; font-size:5vw;}
  .wrap_sitemap .area.col h2 {margin-bottom: 7vw;font-size: 8vw;}
  .wrap_sitemap .area.col li {margin-bottom: 4vw;}
  .wrap_sitemap .area.col li a{font-size: 5vw;}
  .wrap_sitemap .area.col .dep3{margin-top: 2vw;margin-bottom: 5vw;}
  .wrap_sitemap .area.col .dep3 > ul{padding-top:2vw;}
  .wrap_sitemap .area.col .dep3 > ul > li{margin-top:2vw;}
  .wrap_sitemap .area.col .dep3 > ul > li > a{font-size:4.2vw; padding-left: 0;}
  .wrap_sitemap .area.col .dp3 > a:after{-webkit-transform:  translate(8.5vw, 1.7vw);
   -moz-transform: translate(8.5vw, 1.7vw);
   -o-transform: translate(8.5vw, 1.7vw);
   -ms-transform: translate(8.5vw, 1.7vw);
   transform: translate(8.5vw, 1.7vw);
   }

    
}



/* ----------------------------------------------
 * Generated by Animista on 2020-6-9 12:51:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
